@import dao.{Address, User}
@import settings.GeneralSettings
@(user: User, addresses: Seq[Address])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.address_management")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active">
                    <a href="#/account/addresses">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("account.address_management.list_addresses")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#/account/addresses/add">
                    <span class="glyphicon glyphicon-plus"></span> @messages("account.address_management.add_address")
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <!-- Form -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@messages("account.address_management.address_name")</th>
                            <th>@messages("account.address_management.address")</th>
                            <th>@messages("account.address_management.population")</th>
                            <th>@messages("account.address_management.province")</th>
                            <th>@messages("account.address_management.postal_code")</th>
                            <th>@messages("lists.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(addresses.isEmpty) {
                        <tr>
                            <td colspan="5">@messages("account.address_management.empty_list")</td>
                        </tr>
                    } else {
                        @for(address <- addresses) {
                            <tr>
                                <td>@address.name</td>
                                <td>@address.address</td>
                                <td>@address.population</td>
                                <td>@address.province</td>
                                <td>@address.postal_code</td>
                                <td>
                                    <a href="#/account/addresses/edit/@address.id.get">@messages("lists.actions.edit")</a> /
                                    <a href="#/account/addresses/delete/@address.id.get" confirmation>@messages("lists.actions.delete")</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>