@import controllers.Account.AddressAddForm
@import dao.User
@import settings.GeneralSettings
@(form: Form[AddressAddForm], user: User, address_id: Int)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.address_management")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation">
                    <a href="#/account/addresses">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("account.address_management.list_addresses")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#/account/addresses/add">
                    <span class="glyphicon glyphicon-plus"></span> @messages("account.address_management.add_address")
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <!-- Form -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            @b3.vertical.form(controllers.ajax.routes.Account.address_management_edit(address_id), 'enctype -> "multipart/form-data") { implicit ifc =>
                <!-- Section subheader -->
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="sub-header">@messages("account.address_management.edit_address")</h3>
                    </div>
                </div>
                <hr/>
                    <!-- Alias -->
                <div class="row">
                    <div class="col-sm-12">
                    @b3.text(form("name"), '_label -> messages("account.address_management.address_name"))
                    </div>
                </div>
                    <!-- Address and postal code -->
                <div class="row">
                    <div class="col-sm-8">
                    @b3.text(form("address"), '_label -> messages("account.address_management.address"))
                    </div>
                    <div class="col-sm-4">
                    @b3.text(form("postal-code"), '_label -> messages("account.address_management.postal_code"))
                    </div>
                </div>
                <!-- Province and population -->
                <div class="row">
                    <div class="col-sm-6">
                    @b3.text(form("province"), '_label -> messages("account.address_management.province"))
                    </div>
                    <div class="col-sm-6">
                    @b3.text(form("population"), '_label -> messages("account.address_management.population"))
                    </div>
                </div>
                    <!-- Submit btn -->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary pull-right">@messages("save")</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>