@import controllers.Account.AddMessageForm
@import dao.{ComplexConversation, User}
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@(form: Form[AddMessageForm], user: User, conversation: ComplexConversation)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.conversations")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation">
                    <a href="#/account/conversations">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("account.conversations.list")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#/account/conversations/new">
                    <span class="glyphicon glyphicon-plus"></span> @messages("account.conversations.new")
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <!-- List -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="sub-header">@conversation.title</h3>
                </div>
            </div>

            @for(message <- conversation.messages.sortBy(-_.timestamp.getMillis)) {
                <div class="row">
                    <div class="col-sm-12 message">
                        <div class="header">
                            <span class="timestamp">@message.timestamp.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</span>
                            @message.user.name @message.user.last_name
                        </div>
                        @message.message
                    </div>
                </div>
            }

            <hr/>

            <div class="row">
                <div class="col-sm-12">
                @b3.vertical.form(controllers.ajax.routes.Account.conversation_add_message(conversation.hash), 'enctype -> "multipart/form-data") { implicit ifc =>
                        <!-- Message -->
                    <div class="row">
                        <div class="col-sm-12">
                            @b3.textarea(form("message"), '_label -> messages("account.conversations.message"), 'rows -> "6")
                        </div>
                    </div>
                        <!-- Submit btn -->
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right">@messages("add")</button>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>