@import controllers.Account.NewConversationForm
@import dao.User
@import settings.GeneralSettings
@(form: Form[NewConversationForm], user: User)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.conversations")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation">
                    <a href="#/account/conversations">
                        <span class="glyphicon glyphicon-th-list"></span> @messages("account.conversations.list")
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#/account/conversations/new">
                        <span class="glyphicon glyphicon-plus"></span> @messages("account.conversations.new")
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <!-- Form -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            @b3.vertical.form(controllers.ajax.routes.Account.conversation_new(), 'enctype -> "multipart/form-data") { implicit ifc =>
                    <!-- Title -->
                <div class="row">
                    <div class="col-sm-12">
                    @b3.text(form("title"), '_label -> messages("account.conversations.title"))
                    </div>
                </div>
                    <!-- Message -->
                <div class="row">
                    <div class="col-sm-12">
                    @b3.textarea(form("message"), '_label -> messages("account.conversations.message"), 'rows -> "6")
                    </div>
                </div>
                    <!-- Submit btn -->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary pull-right">@messages("create")</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>