@import dao.{Order, User}
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@(user: User, orders: Seq[Order])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.orders")</h1>
        </div>
    </div>
        <!-- List -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@messages("account.orders.ref")</th>
                            <th>@messages("account.orders.proforma_invoice")</th>
                            <th>@messages("account.orders.date")</th>
                            <th>@messages("account.orders.state")</th>
                            <th>@messages("lists.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(orders.isEmpty) {
                        <tr>
                            <td colspan="4">@messages("account.orders.empty_list")</td>
                        </tr>
                    } else {
                        @for(order <- orders.sortBy(-_.timestamp.getMillis)) {
                            <tr>
                                <td>@order.hash</td>
                                <td>
                                    <a href="@routes.Account.proforma_invoice(order.hash)" target="_blank">@messages("download")</a>
                                </td>
                                <td>@order.timestamp.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                                <td>@order.state</td>
                                <td>
                                    <a href="#/account/orders/@order.hash/cancel">@messages("lists.actions.cancel")</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>