@import controllers.Account.{AccountChangePassword, AccountGeneralSettings}
@import dao.User
@import settings.GeneralSettings
@(form: Form[AccountGeneralSettings], passwordChangeForm: Form[AccountChangePassword], user: User)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.settings")</h1>
        </div>
    </div>
        <!-- Form -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            @b3.vertical.form(controllers.ajax.routes.Account.general_settings(), 'enctype -> "multipart/form-data", Symbol("submit-user-changed") -> "") { implicit ifc =>
                    <!-- Profile picture -->
                <div class="row">
                    <div class="col-sm-12 flex-horizontal-center flex-center">
                        <div class="profile-picture" hidden-menu profile-picture-management>
                            @if(user.profile_picture.nonEmpty){
                                <img class="pic-preview" src="@routes.Resources.resize(user.profile_picture, 512, 512, "default")"/>
                            } else {
                                <img class="pic-preview" src="@routes.Assets.versioned("images/default-avatar.png")"/>
                            }
                            <ul class="hidden-menu">
                                <li>
                                    <a href="!" class="pic-change">
                                        <span class="glyphicon glyphicon-picture"></span> @messages("account.settings.picture_change")
                                    </a>
                                </li>
                                <li>
                                    <a href="!" class="pic-remove">
                                        <span class="glyphicon glyphicon-remove-circle"></span> @messages("account.settings.picture_remove")
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr/>
                @if(form.hasGlobalErrors) {
                    <div class="alert alert-danger" role="alert">
                    @for(error <- form.globalErrors) {
                        <div>
                        @messages(error.message)
                        </div>
                    }
                    </div>
                }

                    <!-- Name and last name -->
                <div class="row">
                    <div class="col-sm-4">
                    @b3.text(form("name"), '_label -> messages("account.name"))
                    </div>
                    <div class="col-sm-8">
                    @b3.text(form("last-name"), '_label -> messages("account.last_name"))
                    </div>
                </div>
                    <!-- DNI and phone number -->
                <div class="row">
                    <div class="col-sm-6">
                    @b3.text(form("dni"), '_label -> messages("account.dni"))
                    </div>
                    <div class="col-sm-6">
                    @b3.text(form("phone-number"), '_label -> messages("account.phone_number"))
                    </div>
                </div>
                    <!-- Email -->
                <div class="row">
                    <div class="col-sm-12">
                    @b3.text(form("mail"), '_label -> messages("account.mail"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary pull-right">@messages("save")</button>
                    </div>
                </div>
            }
            @b3.vertical.form(controllers.ajax.routes.Account.password_change()) { implicit ifc =>
                    <!-- Password change -->
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="sub-header">@messages("account.settings.change_password")</h3>
                    </div>
                </div>
                @if(passwordChangeForm.hasGlobalErrors) {
                    <div class="alert alert-danger" role="alert">
                    @for(error <- passwordChangeForm.globalErrors) {
                        <div>
                        @messages(error.message)
                        </div>
                    }
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                    @b3.password(passwordChangeForm("old-password"), '_label -> messages("account.settings.old_password"))
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                    @b3.password(passwordChangeForm("new-password"), '_label -> messages("account.settings.new_password"))
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    @b3.password(passwordChangeForm("new-password-repeat"), '_label -> messages("account.settings.new_password_repeat"))
                    </div>
                </div>
                <!-- Submit button -->
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary pull-right">@messages("change")</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>