@import dao.{Conversation, User}
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@(user: User, conversations: Seq[Conversation])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.conversations")</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active">
                    <a href="#/account/conversations">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("account.conversations.list")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#/account/conversations/new">
                    <span class="glyphicon glyphicon-plus"></span> @messages("account.conversations.new")
                    </a>
                </li>
            </ul>
        </div>
    </div>
        <!-- List -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@messages("account.conversations.title")</th>
                            <th>@messages("account.conversations.created_on")</th>
                            <th>@messages("account.conversations.last_activity_on")</th>
                            <th>@messages("lists.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(conversations.isEmpty) {
                        <tr>
                            <td colspan="4">@messages("account.conversations.empty_list")</td>
                        </tr>
                    } else {
                        @for(conversation <- conversations) {
                            <tr>
                                <td>@conversation.title</td>
                                <td>@conversation.created_on.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                                <td>@conversation.last_activity_on.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                                <td>
                                    <a href="#/account/conversations/view/@conversation.hash">@messages("lists.actions.view")</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>