@()(implicit messages: Messages)

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
            <hr/>
            <strong>
                @Html(messages("categories.category_no_products"))
            </strong>
        </div>
    </div>
</div>