@import dao.ComplexCategory
@import settings.GeneralSettings
@(categories: Seq[ComplexCategory], base: Option[ComplexCategory] = None)(implicit messages: Messages, settings: GeneralSettings)

@if(base.isEmpty) {
    <ol class="breadcrumb">
        <li class="active">@messages("categories")</li>
    </ol>
} else {
    <ol class="breadcrumb">
        <li>
            <a href="!" class="category-base">
                <span class="glyphicon glyphicon-th-list"></span>
            </a>
        </li>
        @if(base.get.parent.nonEmpty) {
            <li>
                <a href="!" class="category-back" data-category="@base.get.parent.get.normalized_url">
                    @base.get.parent.get.name
                </a>
            </li>
        }
        <li class="active">@base.get.name</li>
    </ol>
}

<ul class="nav navmenu-nav categories-nav">
    @for(category <- categories) {
        <li>
            <a href="#/category/show/@category.normalized_url">
                @category.name
                @if(category.children.nonEmpty) {
                    <span class="glyphicon glyphicon-circle-arrow-right children-span has-tooltip" data-category="@category.normalized_url" data-placement="left" data-title="@messages("category.submenus")"></span>
                }
            </a>
        </li>
    }
</ul>