@import dao.{ComplexCategory, ComplexProduct}
@import settings.GeneralSettings
@import util.Pagination
@(category: ComplexCategory, products: Seq[ComplexProduct], pagination: Pagination)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

    <!-- Category title -->
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@category.name</h1>
    </div>
</div>

    <!-- Product list -->
@if(products.nonEmpty) {
    <div class="row">
    @for(product <- products) {
        <div class="col-sm-3">
        @if(product.gallery.exists(_.is_default)) {
            @defining(product.gallery.find(_.is_default).get) { default_image =>
                <div class="product" style="background-image: url('@routes.Resources.resize(default_image.fileuuid, 360, 415, "products")');">
                    <div class="details">
                        <a href="#/product/@product.reference"></a>
                        <div class="header">
                        @product.name
                        </div>
                        <div class="footer">
                            @product.price &euro;
                            <button class="btn has-tooltip" data-placement="top" title="@messages("add_to_cart")">
                                <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        } else {
            <div class="product" style="background-image: url('@routes.Assets.versioned("images/no_image_available.png")');">
                <div class="details">
                    <a href="#/product/@product.reference"></a>
                    <div class="header">
                    @product.name
                    </div>
                    <div class="footer">
                        @product.price &euro;
                        <button class="btn has-tooltip" data-placement="top" title="@messages("add_to_cart")">
                            <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    </div>
        <!-- Pagination -->
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="@{s"#/category/show/${category.normalized_url}/1/asc"}" aria-label="First"><span aria-hidden="true">&larr;</span></a>
                    </li>
                    <li @if(pagination.previous.isEmpty) { class="disabled" } >
                    @if(pagination.previous.isEmpty) {
                        <a href="!" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    } else {
                        <a href="@{s"#/category/show/${category.normalized_url}/${pagination.previous.get}/asc"}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    }
                    </li>
                    @for(page <- pagination.pages) {
                        <li @if(page == pagination.actual_page) { class="active" }>
                            <a href="@{s"#/category/show/${category.normalized_url}/${page}/asc"}">@page</a>
                        </li>
                    }
                    <li @if(pagination.next.isEmpty) { class="disabled" }>
                    @if(pagination.next.isEmpty) {
                        <a href="!" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    } else {
                        <a href="@{s"#/category/show/${category.normalized_url}/${pagination.next.get}/asc"}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    }
                    </li>
                    <li>
                        <a href="@{s"#/category/show/${category.normalized_url}/${pagination.last}/asc"}" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}