@()(implicit messages: Messages)

<div class="messages">
    <div ng-repeat="message in chat.messages" ng-class="message.is_status ? 'msg-status' : 'msg'">
        <span class="timestamp">{{message.timestamp}}</span>
        <span class="name" ng-hide="message.is_status">{{message.username}}</span>
        {{message.body}}
    </div>
</div>

<div class="send-wrapper">
    <textarea class="form-control" ng-model="chat.message" message-handler chat="chat" placeholder="@messages("chat.send_box.placeholder")"></textarea>
    <button type="button" class="btn btn-primary" ng-click="chat.sendMessage(chat.message)">@messages("chat.send")</button>
</div>