@import settings.GeneralSettings
@()(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container" checkout>
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("checkout.completed")</h1>
        </div>
    </div>
        <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

                <!-- Payment info -->
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="sub-header">@messages("checkout.payment_info")</h3>
                    @settings.payment_info

                    @if(settings.payment_info.nonEmpty) { <hr/> }
                    <div class="form-group">
                        <label class="control-label" for="bank-entity">@messages("checkout.bank_entity")</label>
                        <input type="text" id="bank-entity" value="@settings.bank_entity" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="bank-account">@messages("checkout.bank_account")</label>
                        <input type="text" id="bank-account" value="@settings.bank_account" class="form-control" disabled>
                    </div>
                </div>
            </div>
                <!-- Shipment info -->
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="sub-header">@messages("checkout.shipment_info")</h3>
                    @settings.shipment_info
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 right-buttons">
                    <a href="#" class="btn btn-warning pull-right">@messages("checkout.button.finish")</a>
                </div>
            </div>
        </div>
    </div>
</div>