@import dao.Address
@import settings.GeneralSettings
@(addresses: Seq[Address])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container" checkout>
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("checkout.shipping_information")</h1>
        </div>
    </div>
        <!-- Table -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            @b3.vertical.form(controllers.ajax.routes.Cart.checkout_define_address()) { implicit ifc =>
                @if(addresses.nonEmpty) {
                    @for(address <- addresses) {
                        <div class="radio">
                            <label>
                                <input type="radio" name="shipping-address" value="@address.id.get" checked>
                                @address.name <small>(@address.address, @address.postal_code, @address.population, @address.province)</small>
                            </label>
                        </div>
                    }
                } else {
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <strong>@Html(messages("checkout.address.empty_list"))</strong>
                        </div>
                    </div>
                    <hr />
                }

                <!-- Buttons -->
                <div class="row">
                    <div class="col-sm-12 right-buttons">
                        <button type="submit" class="btn btn-warning pull-right" ng-show="cart.total_products > 0">@messages("checkout.button.continue")</button>
                        <a href="#/checkout" class="btn btn-default pull-right">@messages("checkout.button.back")</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>