@import dao.Cart
@import settings.GeneralSettings
@(cart: Cart)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container" checkout>
        <!-- Title -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@messages("account.cart.details")</h1>
        </div>
    </div>
        <!-- Table -->
    <div class="row">
        <div class="col-sm-12">
            @if(flash.get("redirect-message").nonEmpty) {
                <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                @flash.get("redirect-message").get
                </div>
            }

            <div class="table-responsive">
                <table class="table table-hover cart-details-table">
                    <thead>
                        <tr>
                            <th>@messages("checkout.list.product_reference")</th>
                            <th>@messages("checkout.list.product")</th>
                            <th>@messages("checkout.list.price")</th>
                            <th>@messages("checkout.list.quantity")</th>
                            <th>@messages("checkout.list.total")</th>
                            <th>@messages("lists.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(cart.items.isEmpty) {
                            <tr>
                                <td colspan="6">@messages("account.cart.empty")</td>
                            </tr>
                        } else {
                            @for(item <- cart.items) {
                                <tr>
                                    <td>@item.product.reference</td>
                                    <td>
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#/product/@item.product.reference">
                                                    @if(item.product.gallery.exists(_.is_default)) {
                                                        <img class="media-object" src="/res/products/80/120/@{item.product.gallery.find(_.is_default).get.fileuuid}" alt="@item.product.name">
                                                    } else {
                                                        <img class="media-object" src="/res/products/80/120/undefined" alt="@item.product.name">
                                                    }
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#/product/@item.product.reference">
                                                    <span class="name">@item.product.name</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">{{@item.product.calculatedPrice | currency: ""}} &euro;</td>
                                    <td class="text-center">@item.quantity</td>
                                    <td class="text-right">{{@{item.product.calculatedPrice * item.quantity} | currency: ""}} &euro;</td>
                                    <td>
                                        <a href="#/checkout" ng-click="checkout.removeFromList('@item.product.reference')">@messages("lists.actions.delete")</a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3" class="text-center">
                                    <strong>@messages("checkout.list.shipping_costs")</strong>
                                </td>
                                <td></td>
                                <td class="text-right">
                                    <strong>{{ @settings.shipment_costs | currency: "" }} &euro;</strong>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">
                                    <strong>@messages("checkout.list.total")</strong>
                                </td>
                                <td class="text-center">
                                    <strong>@cart.items.map(_.quantity).sum</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{ @{cart.items.map(p => p.product.calculatedPrice * p.quantity).sum + settings.shipment_costs} | currency: "" }} &euro;</strong>
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12 right-buttons">
                    <a href="#/checkout/step/2" class="btn btn-warning pull-right" ng-disabled="cart.total_products === 0" ng-show="cart.total_products > 0">@messages("checkout.button.continue")</a>
                    <button type="button" class="btn btn-default pull-right" ng-click="checkout.emptyCart()">@messages("checkout.button.empty_cart")</button>
                </div>
            </div>
        </div>
    </div>
</div>