@import dao.{ComplexProductReview, User}
@import settings.GeneralSettings
@(product_reference: String, reviews: Seq[ComplexProductReview], user: Option[User] = None)(implicit messages: Messages, settings: GeneralSettings)

@if(reviews.nonEmpty) {
    <div class="reviews">
    @for(review <- reviews) {
        <blockquote>
            @review.review
        <cite>
            - @{review.user.name + " " + review.user.last_name}
            <span class="rating">
            @for(i <- 0 until review.valoration) {
                <span class="star active"></span>
            }
            </span>
        </cite>
        </blockquote>
    }
    </div>
} else {
    <div class="row">
        <div class="col-sm-12 text-center">
            <i class="fa fa-comment-o fa-5x" aria-hidden="true"></i>
            <hr/>
            <strong>
            @messages("products.details.customer_reviews.there_are_no_reviews")
            </strong>
        </div>
    </div>
}

@if(user.nonEmpty) {
    <hr/>
    <form class="form-vertical" role="form" add-review-form ng-submit="submitReview()">
        <div class="alert alert-danger" role="alert" ng-show="review.errors">
            @messages("products.details.customer_reviews.message_too_short")
        </div>
            <!-- Review form -->
        <div class="form-group">
            <label for="stars">@messages("products.details.customer_reviews.stars")</label>
            <select class="form-control rating" id="stars" ng-model="review.data.valoration">
                <option value="1">&#xf006;</option>
                <option value="2">&#xf006;&#xf006;</option>
                <option value="3">&#xf006;&#xf006;&#xf006;</option>
                <option value="4">&#xf006;&#xf006;&#xf006;&#xf006;</option>
                <option value="5">&#xf006;&#xf006;&#xf006;&#xf006;&#xf006;</option>
            </select>
        </div>
        <div class="form-group">
            <label for="message">@messages("products.details.customer_reviews.message")</label>
            <textarea class="form-control" rows="3" id="message" ng-model="review.data.body"></textarea>
            <span class="help-block">{{review.data.body.length}} / {{review.body_min}} @messages("products.details.customer_reviews.review_length_min")</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">@messages("products.details.customer_reviews.add_review")</button>
        </div>
    </form>
} else {
    <div class="row">
        <div class="col-sm-12 text-center">
            <hr/>
            <strong>
            @Html(messages("products.details.customer_reviews.sign_in_to_comment"))
            </strong>
        </div>
    </div>
}