@import dao.User
@import settings.GeneralSettings
@(user: User)(implicit messages: Messages, settings: GeneralSettings)


    <a href="!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> @messages("cart") <span class="badge cart-item-count">{{cart.total_products}}</span>
    </a>
    <ul class="dropdown-menu cart">
        <li class="cart-product" ng-repeat="item in cart.products">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#/product/{{item.product.reference}}">
                        <img class="media-object" src="/res/products/80/120/{{cart.defaultPicture(item)}}" alt="{{item.product.name.items[0].value}}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a href="#/product/{{item.product.reference}}">
                            <span class="name">{{item.product.name.items[0].value}}</span>
                        </a>
                        <span class="price">
                            {{cart.price(item) | currency: ""}} &euro; x {{item.quantity}}
                            <span class="glyphicon glyphicon-remove-circle remove" ng-click="cart.removeFromCart(item.product.reference)"></span>
                        </span>
                    </h5>
                </div>
            </div>
        </li>
        <li ng-show="cart.total_products === 0" class="empty-cart">
            @messages("account.cart.empty")
        </li>
        <li ng-show="cart.total_products !== 0" class="totals">
            <span class="products">
                {{cart.total_products}} @messages("products")
            </span>
            <span class="price">
                @messages("account.cart.total"): {{cart.totalPrice() | currency: ""}} &euro;
            </span>
        </li>
        <li class="checkout">
            <a href="#/checkout">
                <button type="button" class="btn btn-warning btn-block" ng-disabled="cart.total_products === 0">@messages("account.checkout")</button>
            </a>
        </li>
    </ul>