@import dao.User
@import settings.GeneralSettings
@(user: User)(implicit messages: Messages, settings: GeneralSettings)


    <a href="!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        @if(user.profile_picture.nonEmpty){
            <img src="@routes.Resources.resize(user.profile_picture, 140, 140, "default")" class="picture" /> <span class="caret"></span>
        } else {
            <img src="@routes.Assets.versioned("images/default-avatar.png")" class="picture" /> <span class="caret"></span>
        }
    </a>
    <ul class="dropdown-menu">
        <li class="text text-center">@{user.name + " " + user.last_name}</li>
        <li role="separator" class="divider"></li>
        @if(user.is_admin) {
            <li>
                <a href="/panel">
                    <span class="glyphicon glyphicon-list-alt"></span> @messages("panel")
                </a>
            </li>
        }
        <li>
            <a href="#/account/settings">
                <span class="glyphicon glyphicon-cog"></span> @messages("account.settings")
            </a>
        </li>
        <li>
            <a href="#/account/addresses">
                <span class="glyphicon glyphicon-road"></span> @messages("account.address_management")
            </a>
        </li>
        <li>
            <a href="#/account/conversations">
                <span class="glyphicon glyphicon-envelope"></span> @messages("account.conversations")
            </a>
        </li>
        <li>
            <a href="#/account/orders">
                <span class="glyphicon glyphicon-shopping-cart"></span> @messages("account.orders")
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="@routes.Login.sign_out()">
                <span class="glyphicon glyphicon-log-out"></span> @messages("sign_out")
            </a>
        </li>
    </ul>