@import dao.ComplexProduct
@import settings.GeneralSettings
@import util.Pagination
@(products: Seq[ComplexProduct], pagination: Pagination)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
    @if(settings.slider && products.exists(_.in_offer)) {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">@messages("products.in_offer")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="carousel-offers" class="carousel slide" data-ride="carousel" carousel-offers>
                    @defining(products.filter(p => p.in_offer)) { offered_products =>
                            <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @for(product <- offered_products) {
                                @if(offered_products.indexOf(product) == 0) {
                                    <li data-target="#carousel-offers" data-slide-to="@offered_products.indexOf(product)" class="active"></li>
                                } else {
                                    <li data-target="#carousel-offers" data-slide-to="@offered_products.indexOf(product)"></li>
                                }
                            }
                        </ol>

                            <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @for(product <- offered_products) {
                                @if(product.gallery.exists(_.is_slider)) {
                                    @if(offered_products.indexOf(product) == 0) {
                                        <a href="#/product/@product.reference" class="item active">
                                            <img src="@routes.Resources.get(product.gallery.find(_.is_slider).get.fileuuid, "products")" alt="@product.name" />
                                        </a>
                                    } else {
                                        <a href="#/product/@product.reference" class="item">
                                            <img src="@routes.Resources.get(product.gallery.find(_.is_slider).get.fileuuid, "products")" alt="@product.name" />
                                        </a>
                                    }
                                } else {
                                    @if(offered_products.indexOf(product) == 0) {
                                        <a href="#/product/@product.reference" class="item active">
                                            <img src="@routes.Resources.get("undefined", "products")" alt="@product.name" />
                                        </a>
                                    } else {
                                        <a href="#/product/@product.reference" class="item">
                                            <img src="@routes.Resources.get("undefined", "products")" alt="@product.name" />
                                        </a>
                                    }
                                }
                            }
                        </div>
                    }

                        <!-- Controls -->
                    <a class="left carousel-control" href="!" role="button">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="!" role="button">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    }

        <!-- Product list -->
    @if(products.nonEmpty) {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">@messages("products.recently_added")</h1>
            </div>
        </div>
        <div class="row">
        @for(product <- products) {
            <div class="col-sm-3">
            @if(product.gallery.exists(_.is_default)) {
                @defining(product.gallery.find(_.is_default).get) { default_image =>
                    <div class="product" style="background: url('@routes.Resources.resize(default_image.fileuuid, 360, 415, "products")'); background-position: center; background-size: cover;">
                        <div class="details">
                            <a href="#/product/@product.reference"></a>
                            <div class="header">
                            @product.name
                            </div>
                            <div class="footer">
                                @if(product.in_offer) {
                                    <span class="original-price">{{ @product.priceWithVAT | currency: "" }} &euro;</span>
                                    {{ @product.calculatedPrice | currency: "" }} &euro;
                                } else {
                                    {{ @product.priceWithVAT | currency: "" }} &euro;
                                }
                                <button class="btn has-tooltip" data-placement="top" title="@messages("add_to_cart")" ng-show="store.signed_in" ng-click="store.addToCart('@product.reference')">
                                    <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            } else {
                <div class="product" style="background: url('@routes.Assets.versioned("images/no_image_available.png")'); background-position: center; background-size: cover;">
                    <div class="details">
                        <a href="#/product/@product.reference"></a>
                        <div class="header">
                        @product.name
                        </div>
                        <div class="footer">
                            @if(product.in_offer) {
                                <span class="original-price">{{ @product.priceWithVAT | currency: "" }} &euro;</span>
                                {{ @product.calculatedPrice | currency: "" }} &euro;
                            } else {
                                {{ @product.priceWithVAT | currency: "" }} &euro;
                            }
                            <button class="btn has-tooltip" data-placement="top" title="@messages("add_to_cart")" ng-show="store.signed_in" ng-click="store.addToCart('@product.reference')">
                                <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
            </div>
        }
        </div>
    }
</div>