@import dao.Section
@import settings.GeneralSettings
@(section: Section)(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

<div class="container">
        <!-- Section breadcrubs -->
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <span>@messages("sections")</span>
                </li>
                <li class="active">
                    <a href="#/section/@helper.urlEncode(section.name)">@section.name</a>
                </li>
            </ol>
        </div>
    </div>

    @section.html
</div>