@import "../store.less";

body {
  background-color: #f6f6f6;
  padding: 50px 0 0 0;
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .connection-btn {
    float: right !important;
    margin-top: 0;
  }
  .full-screen {
    padding: 0 0 0 300px !important;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 0 0 0;

  .container-fluid {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    .row {
      height: 100%;
      margin: 0;

      div[class*='col-'] {
        height: 100%;
        padding: 0;

        div.cover {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.navbar-default {
  .navbar-toggle {
    display: block;
    float: left;
    font-weight: bold;
    color: #777;
    padding: 2px 8px;
    border-radius: 2px;
    .transition(color ease-out .25s, background-color ease-out, .25s);

    &:hover,
    &:focus {
      color: #444;
      background-color: darken(#f8f8f8, 5%);
    }
  }
}

.navmenu-default {
  .navmenu-brand {
    font-weight: bold;
    border-bottom: 1px solid @gray-color;
    margin: 0;
  }
}

.connection-btn {
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
    outline: none;
  }
  .fa {
    float: left;
    margin-top: 3px;
  }
}

.chat-list {
  li {
    border-bottom: 1px solid @gray-color;

    a {
      color: @gray-color;
      .background-color-transition(ease-out, .25s);

      &.on {
        font-weight: bold;
      }
      &.off {
        font-weight: normal;
      }
      &:hover,
      &:focus {
        background-color: darken(#f8f8f8, 2%) !important;
      }

      .icon {
        color: #cccccc;
        margin-right: 6px;
        .background-color-transition(ease-out, .25s);
      }
      .icon-on {
        color: @state-success-bg;
        margin-right: 6px;
        .background-color-transition(ease-out, .25s);
      }
      span.remove {
        position: absolute;
        top: 9px;
        right: 12px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

.messages {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 100px;
  overflow-y: scroll;

  .msg {
    color: #555;
    padding: 4px 12px;

    .name {
      display: inline-block;
      margin-right: 6px;
      color: #777;
      font-weight: bold;
    }
  }

  .msg-status {
    color: #999;
    padding: 8px 12px;
    border-bottom: 1px solid @gray-color;
    border-top: 1px solid @gray-color;
  }

  .msg .timestamp,
  .msg-status .timestamp {
    display: inline-block;
    margin-right: 12px;
    font-size: 1.25rem;
    min-width: 100px;
  }
}

.send-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 10;
  border-top: 1px solid #dddddd;

  textarea {
    height: 100%;
    width: 100%;
    resize: none;
    padding-right: 142px;
  }

  button {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 78px;
  }
}