@(field: Field,
    _class: String = "",
    _label: String = "")

<style scoped>
    #@{field.name} {
        overflow: scroll;
        max-height: 480px;

        display: block;
        margin-bottom: 15px;
        width: 100%;
        min-height: 190px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    #@{field.name} blockquote {
        font-size: inherit;
    }

    #@{field.name}.fullscreen {
        height: 480px;
    }

    .toolbar-wrapper {
        padding: 4px 5px;
        width: 100%;
        margin-left: 1px;
        margin-bottom: 6px;
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .toolbar-wrapper .btn-toolbar {
        margin-bottom: 4px;
    }

    .toolbar-wrapper .tooltip {
        min-width: 120px;
    }

    .btn-toolbar .dropdown-menu {
        top: 34px;
    }

    .btn-toolbar .fileUpload {
        width: 0;
        height: 0;
        position:absolute
    }

    .btn-toolbar .voiceBtn {
        width: 20px;
        color: transparent;
        background-color: transparent;
        transform: scale(2.0, 2.0);
        -webkit-transform: scale(2.0, 2.0);
        -moz-transform: scale(2.0, 2.0);
        border: transparent;
        cursor: pointer;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .rte-closed > .toolbar-wrapper {
        margin-bottom: 0;
        border-radius: 4px 4px 0 0;
        margin-left: 0;
    }

    .rte-closed > #@{field.name} {
        border-radius: 0 0 4px 4px;
    }
</style>
@if(_label.nonEmpty) {
    <label class="control-label" for="@{field.name}">@_label</label>
}

<div class="rte-closed">
    <div class="toolbar-wrapper">
        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#@{field.name}">
                <!-- Fonts -->
            <div class="btn-group" role="group" aria-label="Font face">
                <div class="dropdown" data-toggle="tooltip" data-placement="top" title="Font face">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddFonts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-font"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ddFonts">
                        <li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li><li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li><li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li><li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li><li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li><li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li><li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li><li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li><li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li><li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li><li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li><li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li><li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li><li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li><li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
                    </ul>
                </div>
            </div>
                <!-- Font Size -->
            <div class="btn-group" role="group" aria-label="Font size">
                <div class="dropdown" data-toggle="tooltip" data-placement="top" title="Font size">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddFontSize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-text-size"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ddFontSize">
                        <li><a data-edit="fontSize 7"><font size="7">Font size 7</font></a></li>
                        <li><a data-edit="fontSize 6"><font size="6">Font size 6</font></a></li>
                        <li><a data-edit="fontSize 5"><font size="5">Font size 5</font></a></li>
                        <li><a data-edit="fontSize 4"><font size="4">Font size 4</font></a></li>
                        <li><a data-edit="fontSize 3"><font size="3">Font size 3</font></a></li>
                        <li><a data-edit="fontSize 2"><font size="2">Font size 2</font></a></li>
                        <li><a data-edit="fontSize 1"><font size="1">Font size 1</font></a></li>
                    </ul>
                </div>
            </div>
                <!-- Button Group: Bold, Italic, Strokethrough, Underline -->
            <div class="btn-group" role="group" aria-label="Text decoration options">
                <button type="button" class="btn btn-default" data-edit="bold" data-toggle="tooltip" data-placement="top" title="Bold (Ctrl/Cmd+B)">
                    <span class="glyphicon glyphicon-bold"></span>
                </button>
                <button type="button" class="btn btn-default" data-edit="italic" data-toggle="tooltip" data-placement="top" title="Italic (Ctrl/Cmd+I)">
                    <span class="glyphicon glyphicon-italic"></span>
                </button>
                <button type="button" class="btn btn-default" data-edit="strikethrough" data-toggle="tooltip" data-placement="top" title="Strikethrough">
                    <i class="fa fa-strikethrough"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="underline" data-toggle="tooltip" data-placement="top" title="Underline (Ctrl/Cmd+U)">
                    <i class="fa fa-underline"></i>
                </button>
            </div>
                <!-- Button Group: Bullet list, Number list, Reduce indent, Indent -->
            <div class="btn-group" role="group" aria-label="Lists and indentation">
                <button type="button" class="btn btn-default" data-edit="insertunorderedlist" data-toggle="tooltip" data-placement="top" title="Bullet list">
                    <i class="fa fa-list-ul"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="insertorderedlist" data-toggle="tooltip" data-placement="top" title="Numbered list">
                    <i class="fa fa-list-ol"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="outdent" data-toggle="tooltip" data-placement="top" title="Reduce indent (Shift+Tab)">
                    <i class="fa fa-outdent"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="indent" data-toggle="tooltip" data-placement="top" title="Indent (Tab)">
                    <i class="fa fa-indent"></i>
                </button>
            </div>
                <!-- Button Group: Align left, center, right, justify -->
            <div class="btn-group" role="group" aria-label="Alignment">
                <button type="button" class="btn btn-default" data-edit="justifyleft" data-toggle="tooltip" data-placement="top" title="Align Left (Ctrl/Cmd+L)">
                    <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="justifycenter" data-toggle="tooltip" data-placement="top" title="Center (Ctrl/Cmd+E)">
                    <i class="fa fa-align-center"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="justifyright" data-toggle="tooltip" data-placement="top" title="Align Right (Ctrl/Cmd+R)">
                    <i class="fa fa-align-right"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="justifyfull" data-toggle="tooltip" data-placement="top" title="Justify (Ctrl/Cmd+J)">
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
            <div class="btn-group pull-right" role="group" aria-label="Wide canvas">
                <button type="button" class="btn btn-default" data-action="wideCanvas" data-toggle="tooltip" data-placement="top" title="Wide canvas">
                    <i class="fa fa-expand" data-toggle-icon="fa fa-compress"></i>
                </button>
            </div>
        </div>
        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#@{field.name}">
                <!-- Group: Hyperlink, Remove hyperlink -->
            <div class="btn-group" role="group" aria-label="Hyperlink">
                <div class="btn-group" role="group" aria-label="Hyperlink">
                    <div class="dropdown" data-toggle="tooltip" data-placement="top" title="Hyperlink">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddHyperlink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-link"></i>
                        </button>
                        <div class="dropdown-menu" style="padding: 6px; width: 290px;" aria-labelledby="ddHyperlink">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Paste your link here" data-edit="createLink" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="link-it">Done</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-edit="unlink" data-toggle="tooltip" data-placement="top" title="Remove link">
                    <i class="fa fa-chain-broken"></i>
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="Image">
                <button type="button" class="btn btn-default" id="pictureBtn" data-toggle="tooltip" data-placement="top" title="Insert picture (or just drag & drop)">
                    <i class="fa fa-picture-o"></i>
                </button>
                <input type="file" data-role="magic-overlay" class="fileUpload" data-target="#pictureBtn" data-edit="insertImage">
            </div>
            <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-default" data-edit="undo" data-toggle="tooltip" data-placement="top" title="Undo (Ctrl/Cmd+Z)">
                    <i class="fa fa-undo"></i>
                </button>
                <button type="button" class="btn btn-default" data-edit="redo" data-toggle="tooltip" data-placement="top" title="Redo">
                    <i class="fa fa-repeat"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="@field.name" class="@_class"></div>
</div>