.dropzone {
	position: relative;
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
	margin-bottom: 12px;
	overflow: hidden;
}

.minimal {
	min-height: 20px;
	height: 97px;
	padding: 4px;
}

.dropzone.minimal .dz-preview {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: initial;
}

.dropzone.minimal .dz-preview .dz-image {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
}

.dropzone.minimal .dz-preview .dz-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dropzone.minimal .dz-preview .dz-details {
	padding: 1em 1em;
}

.dropzone.minimal .dz-preview .dz-image {
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

.dropzone .dz-message {
	font-weight: 400;
	color: #555;
}
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }