/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Pagination
 */
.pagination {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	margin: 6px auto;
}

/*
 * Conversations
 */
.message {
	border-top: 1px solid #cccccc;
	color: #555;
	text-align: justify;
	padding: 6px 12px;
}
.message .header {
	color: #777;
	font-size: 1.5rem;
	font-weight: bold;
}
.message .header .timestamp {
	display: inline-block;
	font-size: 1.25rem;
	margin-right: 6px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li {
	border-bottom: 1px solid #ccc;
}
.nav-sidebar > li:first-child {
	border-top: 1px solid #ccc;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li.live-chat {
	margin-top: 40px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > .live-chat > a,
.nav-sidebar > .live-chat > a:hover,
.nav-sidebar > .live-chat > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-sidebar.subnav {
	margin: 0;
	border: none;
}
.nav-sidebar.subnav > li {
	border-top: 1px solid #ddd;
	border-bottom: none;
}
.nav-sidebar.subnav > li > a {
	padding-right: 20px;
	padding-left: 36px;
}
.nav-sidebar.subnav > li > a:before {
	content: '\21B3 ';
}
.nav-sidebar.subnav > .active > a,
.nav-sidebar.subnav > .active > a:hover,
.nav-sidebar.subnav > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.inline {
	display: inline-block;
}
.form-group.no-margin {
	margin-bottom: 0;
}
.checkbox.no-margin {
	margin-bottom: 0;
	margin-top: 0;
}
input[type=checkbox].no-margin {
	margin-top: 0;
}

.anim-hidden {
	display: none;
}

.scrolled-up {
	height: 0;
	overflow: hidden;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.navbar-section {
	border-radius: 4px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar-section .navbar-header .navbar-brand {
	color: #555;
}

.navbar-section .navbar-rounded > li:first-child > a {
	border-radius: 4px 0 0 4px;
}

.navbar-section .navbar-nav > li > a {
	color: #666;
}

.navbar-section .navbar-nav > .active > a,
.navbar-section .navbar-nav > .active > a:focus,
.navbar-section .navbar-nav > .active > a:hover {
	color: #555;
	background-color: #e7e7e7;
}

.navbar-section .navbar-buttons {
	padding-right: 15px;
}

.navbar-section .navbar-buttons > li > a.btn {
	color: #fff;
	border: none;
	padding: 6px 12px;
	margin-left: 4px;
}

.navbar-section .navbar-buttons > li > a.btn.btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.navbar-section .navbar-buttons > li > .btn-danger.focus,
.navbar-section .navbar-buttons > li > .btn-danger:focus {
	color: #fff;
	background-color: #c9302c;
	border-color: #761c19;
}

.navbar-section .navbar-buttons > li > a.btn.btn-primary:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

.navbar-section .navbar-buttons > li > .btn-primary.focus,
.navbar-section .navbar-buttons > li > .btn-primary:focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40;
}

.navbar-section .navbar-buttons > li > a.btn.btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.navbar-section .navbar-buttons > li > .btn-success.focus,
.navbar-section .navbar-buttons > li > .btn-success:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
}

@media (min-width: 768px) {
	.navbar-section .navbar-right {
		float: right!important;
		margin-right: 0;
	}
}

.sortable-list {
	list-style: none;
	padding-left: 0;
}

.sortable-list > li {
	padding: 6px 12px;
	margin: 4px 0;
	border-radius: 4px;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	cursor: pointer;
}

.sortable-list > li.widget {
	background-color: #5599ff;
	font-weight: bold;
	color: #fff;
}

.sortable-list > li > .order {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #999;
	border-radius: 50%;
	color: #fff;
	padding: 4px 12px;
	margin-right: 20px;
}

.sortable-list > li.widget > .order {
	background-color: #fff;
	color: #999;
}

div.redirect-message {
	padding: 12px;
	text-align: center;
	font-size: 1.35em;

	background-color: #f6f6f6;
	color: #23527c;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.thumbnail.default {
	width: 140px;
	height: 140px;
	object-fit: cover;
}

.green {
  color: green;
}

.dimensionAnimation {
	-webkit-transition: width ease-in-out .6s, height ease-in-out .6s;
	-o-transition: width ease-in-out .6s, height ease-in-out .6s;
	transition: width ease-in-out .6s, height ease-in-out .6s;
}

.default-image-wrapper {
	cursor: pointer;
	border: 2px dashed #0087F7;
	border-radius: 5px;
	height: 548px;
	background: #fafafa;
	padding: 4px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-transition: background ease-in-out .3s;
	-o-transition: background ease-in-out .3s;
	transition: background ease-in-out .3s;
}

.flying-file {
	position: absolute;
	top: -1000px;
}

.default-image-wrapper > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.default-image-wrapper:hover {
	background: #f2f2f2;
}

.default-image-wrapper, .default-image-wrapper * {
	box-sizing: border-box;
}

.default-image-wrapper .info-wrapper {
	text-align: center;
}

.default-image-wrapper .info-wrapper .icon {
	color: #999;
}

.image {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	max-height: 180px;
	background: #fafafa;
	padding: 4px;

	margin: 12px;

	-webkit-transition: background ease-in-out .3s;
	-o-transition: background ease-in-out .3s;
	transition: background ease-in-out .3s;
}

#slider-image {
	max-height: 290px;
}

.button-group .btn {
	margin-right: 4px;
}

.button-group .btn.pull-right {
	margin-right: 0;
	margin-left: 4px;
}

.tab-pane {
	padding: 12px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 4px 4px;
	background-color: #fff;

	min-height: 120px;
}

.info-mark {
	color: #337ab7;
}

.info-mark.margin {
	margin-top: 24px;
}

#file-upload-modal #modal-drop {
	cursor: pointer;
	border: 2px dashed #0087F7;
	border-radius: 5px;
	min-height: 70px;
	margin-bottom: 2px;
	margin-top: 2px;
	background: #fafafa;
	padding: 4px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-transition: background ease-in-out .3s;
	-o-transition: background ease-in-out .3s;
	transition: background ease-in-out .3s;
}

#file-upload-modal #modal-drop > .preview {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#file-upload-modal #modal-drop:hover {
	background: #f2f2f2;
}

#file-upload-modal #modal-drop, #file-upload-modal #modal-drop * {
	box-sizing: border-box;
}

#file-upload-modal #modal-drop .info-wrapper {
	text-align: center;
	font-size: .8em;
}

#file-upload-modal #modal-drop .info-wrapper .icon {
	color: #999;
}

.label-margin {
	margin-top: 25px;
}

.gallery-delete-thumb {
	margin-bottom: 20px;
	text-align: center;
}

.gallery-delete-thumb > img {
	max-height: 90px;
	width: 100%;
	margin-bottom: 4px;
	object-fit: cover;
}