@import "store.less";

body {
  background-color: #f6f6f6;
}

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .container-fluid {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    .row {
      height: 100%;
      margin: 0;

      div[class*='col-'] {
        height: 100%;
        padding: 0;
      }
    }
  }
}

.messages {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 100px;
  overflow-y: scroll;

  .msg {
    color: #555;
    padding: 4px 12px;

    .name {
      display: inline-block;
      margin-right: 6px;
      color: #777;
      font-weight: bold;
    }
  }

  .msg-status {
    color: #999;
    padding: 8px 12px;
    border-bottom: 1px solid @gray-color;
    border-top: 1px solid @gray-color;
  }

  .msg .timestamp,
  .msg-status .timestamp {
    display: inline-block;
    margin-right: 12px;
    font-size: 1.25rem;
    min-width: 100px;
  }
}

.send-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-top: 1px solid #dddddd;

  textarea {
    height: 100%;
    width: 100%;
    resize: none;
    padding-right: 142px;
  }

  button {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 78px;
  }
}