@import "store.css";

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-screen .container-fluid,
.full-screen .container-fluid > .row,
.full-screen .container-fluid > .row > div[class*='col-'] {
  height: 100%;
}

.full-screen .container-fluid > .row > div[class*='col-'] {
  padding-top: 40px;
}

.page-header {
  text-align: center;
}

@media (min-width: 768px) {
  .login {
    width: 300px;
  }
  .login.register {
    width: 340px;
  }
  .login .brand {
    display: block;
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .login a.forgot-password {
    line-height: 34px;
  }
  .form-control:focus {
    border-color: #e6e6e6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  }
  .has-error .help-block,
  .has-error .control-label,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error.radio label,
  .has-error.checkbox label,
  .has-error.radio-inline label,
  .has-error.checkbox-inline label {
    color: grey;
  }
  .has-error .form-control {
    border-color: #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .has-error .help-block {
    color: lightcoral;
  }
  .login.register .row.minimal-padding {
    margin-right: -5px;
    margin-left: -5px;
  }
  .login.register .row.minimal-padding > div[class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.alert {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  font-size: 18px;
  min-height: 40px;
  text-align: center;
}