@import "lib/bootstrap/less/bootstrap.less";

/*
 * Font import
 * -------------------------------------------------
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700,300italic,400italic,600italic,700italic,800italic&subset=latin,latin-ext);

@header-section-bar-height: 60px;
@header-section-bar-background-color: #0086c9;
@header-navbar-color: #fff;
@gray-color: #cccccc;
@light-gray-color: #f6f6f6;

* {
  margin: 0;
  padding: 0;
}

.transition (@value1,@value2:X,...) {
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transition: @value;
  -moz-transition: @value;
  -ms-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.color-transition(@anim-function, @time) {
  -moz-transition: color @anim-function @time;
  -webkit-transition: color @anim-function @time;
  -o-transition: color @anim-function @time;
  transition: color @anim-function @time;
}

.background-color-transition(@anim-function, @time) {
  -moz-transition: background-color @anim-function @time;
  -webkit-transition: background-color @anim-function @time;
  -o-transition: background-color @anim-function @time;
  transition: background-color @anim-function @time;
}

/*
 * Category menu
 * -------------------------------------------------
 */
.categories-offcanvas .breadcrumb {
  font-weight: 400;
  font-size: 1.75rem;
  border-bottom: 1px solid #e7e7e7;
}
.categories-offcanvas .breadcrumb > li.active {
  font-weight: bold;
  font-size: 2.3rem;
}
.categories-offcanvas .breadcrumb > li > a {
  color: #777777;
}
.navmenu-default .categories-nav > li > a {
  border-left: 0 solid #e7e7e7;
  .transition(border-width ease-in-out .1s, border-color ease-in-out .1s);
}
.navmenu-default .categories-nav > li > a:hover,
.navmenu-default .categories-nav > li > a:focus {
  color: #fff;
  border-width: 12px;
  border-color: lighten(@header-section-bar-background-color, 5%);
  background-color: lighten(@header-section-bar-background-color, 5%);
}
.categories-nav > li > a {
  text-transform: capitalize;
  font-weight: bold;
  padding: 8px 15px;

  .transition(background-color ease-out, .25s, color ease-out, .25s);
}
.categories-nav > li > a > .children-span {
  float: right;
  font-size: 18px;
}

/*
 * Header
 * -------------------------------------------------
 */
header {
  color: @header-navbar-color;
  background: #222 no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 140px;
}

header .inner {
  position: relative;
  padding: 20px;
  text-align: center;
}

header .inner .page-logo {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

header .inner .page-title {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

  margin: 10px 0 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: #fff;
}

header .inner .page-description {
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: rgba(255,255,255,0.8);
}

header .row {
  position: relative;
}
header .navbar-header {
  height: 100%;
}
header .navbar-header .navbar-brand {
  height: 100%;
  padding: 0 15px;
  display: none;
}

body.down header .navbar-header .navbar-brand {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

header img.logo {
  display: block;
  max-width: 100%;
}

header img.flag-icon {
  position: relative;
  top: -1px;
  display: inline-block;
  max-height: 20px;
}

header img.logo.minimal {
  display: block;
  max-height: 100%;
}

header .navbar-scroll {
  position: relative;
  z-index: 999;
  border: 0;
  border-radius: 0;
  margin: 0;
  .transition(0.2s transform cubic-bezier(.3,.73,.3,.74));
}
body.down header .navbar-scroll {
  -webkit-animation: slide-down .5s;
  animation: slide-down .5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

header .navbar-scroll .row.sections-bar {
  position: relative;
  height: @header-section-bar-height;
  background-color: @header-section-bar-background-color;
  border-bottom: 2px solid darken(@header-section-bar-background-color,15%);
  line-height: @header-section-bar-height;
}

header .navbar-scroll .row.sections-bar > div {
  height: 100%;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav {
  font-weight: bold;
}

header .navbar-scroll .row.sections-bar ul.sections {
  list-style: none;
}

header .navbar-scroll .row.sections-bar ul.sections > li {
  display: inline-block;
  padding: 0 12px;
  font-weight: bold;

  .background-color-transition(ease-out, .25s);

  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
}

header .navbar-scroll .row.sections-bar ul.sections > li:hover,
header .navbar-scroll .row.sections-bar ul.sections > li:focus {
  background-color: #fff;
  border-bottom: 2px solid darken(@header-section-bar-background-color,15%);
}

header .navbar-scroll .row.sections-bar ul.sections > li:hover > a,
header .navbar-scroll .row.sections-bar ul.sections > li:focus > a {
  color: #0086c9;
}

header .navbar-scroll .row.sections-bar ul.sections > li > a {
  display: block;
  color: #fff;
  .color-transition(ease-out, .25s);
}

header .navbar-scroll .row.sections-bar ul.sections > li > a:hover,
header .navbar-scroll .row.sections-bar ul.sections > li > a:focus {
  text-decoration: none;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a {
  line-height: 30px;
  color: @header-navbar-color;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.btn {
  position: relative;
  top: 6px;
  line-height: 20px;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.sign-in-btn {
  margin-right: 6px;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.search-btn {
  line-height: 20px;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.btn:hover,
header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.btn:focus {
  color: #fff;
  background-color: #ff7b39;
  border-color: transparent;
}

header .navbar-scroll .row.sections-bar ul.nav.navbar-nav > li > a.btn:active {
  background-color: #d64d09;
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li > a {
  .background-color-transition(ease-out, .25s);
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li > a:hover,
header .navbar-scroll .row.sections-bar ul.navbar-right > li > a:focus {
  background-color: #fff;
  color: #0086c9;
  border-bottom: 2px solid darken(@header-section-bar-background-color,15%);
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li > a > .cart-item-count {
  background-color: #fff;
  color: #0086c9;
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li > a:hover > .cart-item-count,
header .navbar-scroll .row.sections-bar ul.navbar-right > li > a:focus > .cart-item-count{
  background-color: #0086c9;
  color: #fff;
}

@media (min-width: 768px) {
  header .navbar-scroll .row.sections-bar ul.navbar-right > li.dropdown.profile-picture > a {
    padding-top: 4px;
    padding-bottom: 5px;
  }
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li.dropdown.profile-picture > a > img.picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid darken(@header-section-bar-background-color,15%);
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li.dropdown.profile-picture > ul.dropdown-menu > li.text {
  padding: 6px 20px;
  color: #333;
  line-height: initial;
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li.dropdown.profile-picture > ul.dropdown-menu > li > a {
  padding: 6px 20px;
}

header .navbar-scroll .row.sections-bar ul.navbar-right > li.dropdown.profile-picture > ul.dropdown-menu > li > a > span.glyphicon {
  margin-right: 15px;
  font-size: 16px;
}

/*
 * Search
 * -------------------------------------------------
 */
.search-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0,0,0,.85);
  z-index: 9999;

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 38px;
    color: #fff;
    opacity: 1;
  }
  .container,
  .container > .row,
  .container > .row > div[class*='col'] {
    height: 100%;
  }

  .form-group {
    margin-top: 180px;
    width: 100%;

    #search-input {
      background-color: transparent;
      color: darken(@gray-color, 25%);
      font-size: 28px;
      height: auto !important;
      padding: 6px 14px;
      border: none;
      border-bottom: 1px solid darken(@gray-color, 25%);
      .transition(border-color ease-out .25s, color ease-out .25s);

      &:focus {
        color: @gray-color;
        border-color: @gray-color;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .results {
    list-style: none;
    margin-top: 20px;

    li {
      color: #fff;
    }
    .result-item {
      position: relative;
      color: #777;
      .background-color-transition(ease-out, .25s);

      &:hover,
      &:focus {
        background-color: darken(#fff, 5%);
      }

      .link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      a {
        color: #555;

        &:hover,
        &:focus {
          color: #555;
          text-decoration: none;
        }
      }
      .media {
        padding: 9px 8px;

        .media-left {
          a {
            display: block;
            position: relative;
            width: 60px;
            height: 40px;
            overflow: hidden;
          }
        }
        .media-object {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      .name {
        display: block;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .price {
        display: block;

        .remove {
          float: right;
          cursor: pointer;
        }
      }
    }
  }
}

/*
 * Cart
 * -------------------------------------------------
 */
.dropdown-menu.cart {
  min-width: 240px;
}
.cart {
  li {
    line-height: normal;
  }
  .cart-product {
    color: #777;
    .background-color-transition(ease-out, .25s);

    &:hover,
    &:focus {
      background-color: darken(#fff, 5%);
    }

    a {
      color: #555;

      &:hover,
      &:focus {
        color: #555;
        text-decoration: none;
      }
    }

    .media {
      padding: 9px 8px;

      .media-left {
        a {
          display: block;
          position: relative;
          width: 60px;
          height: 40px;
          overflow: hidden;
        }
      }
      .media-object {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    .name {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .price {
      display: block;

      .remove {
        float: right;
        cursor: pointer;
      }
    }
  }
  .empty-cart {
    padding: 9px 8px;
    background-color: darken(#fff, 4%);
    color: #777;
    text-align: center;
    font-weight: normal;
  }
  .totals {
    border-top: 1px solid #e5e5e5;
    padding: 9px 8px;

    .products {
      display: inline-block;
      font-size: 1.25rem;
      color: #777;
      line-height: normal;
    }
    .price {
      display: inline-block;
      float: right;
      font-size: 1.5rem;
      font-weight: bold;
      color: #555;
      line-height: normal;
    }
  }
  .checkout {
    border-top: 1px solid #e5e5e5;
    padding-top: 9px;
  }
}

/*
 * ngView wrapper
 * -------------------------------------------------
 */
#main-body-container {
  position: relative;
  padding: 20px;
  min-height: 640px;

  .has-error .form-control {
    border-color: #cccccc;
  }
  .has-error .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .has-error .control-label,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error.radio label,
  .has-error.checkbox label,
  .has-error.radio-inline label,
  .has-error.checkbox-inline label {
    color: gray;
  }
  .has-error .help-block {
    color: lightcoral;
  }
}

div.profile-picture {
  position: relative;
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
}
div.profile-picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.profile-picture > ul.hidden-menu {
  position: absolute;
  bottom: -999px;
  left: 0;
  width: 100%;
  color: #fff;
  list-style: none;
  text-align: center;

  -webkit-transition: bottom ease-in-out .35s;
  -o-transition: bottom ease-in-out .35s;
  -moz-transition: bottom ease-in-out .35s;
  transition: bottom ease-in-out .35s;
}
div.profile-picture > ul.hidden-menu.show {
  bottom: 0;
}
div.profile-picture > ul.hidden-menu > li > a {
  display: block;
  padding: 3px 12px;
  border-bottom: 1px solid @gray-color;
  background-color: lighten(@light-gray-color, 10%);
  color: #999;

  .background-color-transition(ease-in, .2s);
  .color-transition(ease-in, .2s);
}

div.profile-picture > ul.hidden-menu > li > a:hover,
div.profile-picture > ul.hidden-menu > li > a:focus {
  background-color: @light-gray-color;
  color: #555;
  text-decoration: none;
}

div.profile-picture > ul.hidden-menu > li > a > .glyphicon {
  margin-right: 6px;
}

/*
 * Products
 * -------------------------------------------------
 */

.product-shadow() {
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

@product-offers-carousel-height: 480px;
@product-block-height: 315px;
@product-block-color: #0086c9;

#carousel-offers {
  overflow: hidden;
}
#carousel-offers > .carousel-inner {
  height: @product-offers-carousel-height;
}
#carousel-offers > .carousel-inner > .item {
  position: absolute;
  height: @product-offers-carousel-height;
  width: 100%;
  overflow: hidden;
}
#carousel-offers > .carousel-inner > .item > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.product {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  height: @product-block-height;
  overflow: hidden;
  background: #222 no-repeat center center;
  background-size: cover;

  .product-shadow()
}

.product .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transform: scale(4,4);

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.product .details a {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(@product-block-height - 44px);
}

.product:hover .details,
.product a:focus .details {
  transform: scale(1,1);
}

.product .details .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;

  background: #fff;
  color: @product-block-color;
  text-align: center;
  font-weight: bold;
}

.product .details .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;

  background: #fff;
  color: @product-block-color;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
}

.product .details .footer .original-price {
  text-decoration: line-through;
  font-size: 1.25rem;
  color: @state-danger-bg;
}

.product .details .footer .btn {
  float: right;
  color: #fff;
  background-color: @brand-primary;
  border: none;
  border-left: 1px solid #dddddd;
  border-radius: 0;

  height: 100%;
  min-width: 90px;

  -webkit-transition: background-color .2s ease-out, color .2s ease-in-out;
  -moz-transition: background-color .2s ease-out, color .2s ease-in-out;
  -o-transition: background-color .2s ease-out, color .2s ease-in-out;
  transition: background-color .2s ease-out, color .2s ease-in-out;
}

.product .details .footer .btn:hover,
.product .details .footer .btn:focus {
  color: @brand-primary;
  background-color: #fff;
}

/*
 * Product details
 * -------------------------------------------------
 */
@product-gallery-height: 460px;
#gallery-carousel > .carousel-inner {
  height: @product-gallery-height;
}
#gallery-carousel > .carousel-inner > .item {
  position: absolute;
  height: @product-gallery-height;
  width: 100%;
  overflow: hidden;
}
#gallery-carousel > .carousel-inner > .item > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
#gallery-carousel > .carousel-inner > .item > .magnifier-overlay {
  overflow: hidden;
  background-color: fade(@header-section-bar-background-color, 80%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .transition(opacity ease .3s);
}
#gallery-carousel > .carousel-inner > .item > .magnifier-overlay:hover,
#gallery-carousel > .carousel-inner > .item > .magnifier-overlay:focus {
  opacity: 1;
}
#gallery-carousel > .carousel-inner > .item > .magnifier-overlay > .magnifier-icon {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}

@product-details-price-color: #333;
@product-details-original-price-color: #f04b51;

.product-details .description {
  font-size: 1.5rem;
}
.product-details .progress {
  height: initial;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.product-details .progress .progress-bar {
  padding: 6px;
  font-size: 1.75rem;
}
.product-details .product-toolbar {
  border-left: 1px solid @gray-color;
  border-bottom: 1px solid @gray-color;
  border-right: 1px solid @gray-color;
  border-radius: 0 0 2px 2px;
  padding: 6px 15px;
  margin-bottom: 10px;
}
.product-details .product-toolbar .btn-wrapper {
  border-left: 1px solid @gray-color;
}
.product-details .product-toolbar .btn-wrapper .btn-cart {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.product-details .product-toolbar .btn-wrapper .input-quantity {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  font-weight: bold;
}
.product-details .prices {
  text-align: center;
}
.product-details .prices .original-price {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: @product-details-original-price-color;
}
.product-details .prices .price {
  font-size: 2.5rem;
  font-weight: bold;
  color: @product-details-price-color;
}
.product-details .prices .price-no-vat {
  font-size: 1rem;
  font-weight: 400;
}
.product-details .reviews {
  blockquote {
    margin: 0;
    font-size: 1.5rem;
    color: darken(@gray-color, 15%);
    border-left: 0;
    border-bottom: 1px solid lighten(@gray-color, 5%);

    &:last-child {
      border-bottom-width: 0;
    }
    cite {
      display: block;
      margin-left: 8px;
      color: darken(@gray-color, 5%);;
      font-size: 1.2rem;

      span.rating {
        font-size: 14px;
      }
    }
  }
}
span.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 24px;

  span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }
  span.star:hover {
    cursor: pointer;
  }
  span.star:before {
    content: "\f006";
    padding-right: -5px;
    color: #777;
  }
  span.star:hover:before,
  span.star:hover~span.star:before {
    content: "\f005";
    color: #e3cf7a;
  }
  span.star.active:before {
    content: "\f005";
    padding-right: -5px;
    color: #e3cf7a;
  }
}
select.rating {
  unicode-bidi: bidi-override;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;

  option {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
  }
}

/* Override for the gallery backgrop */
.lg-backdrop {
  background-color: rgba(0,0,0,.75) !important;
}

/*
 * Conversations
 * -------------------------------------------------
 */
.message {
  border-top: 1px solid @gray-color;
  color: #555;
  text-align: justify;
  padding: 6px 12px;

  .header {
    color: #777;
    font-size: 1.5rem;
    font-weight: bold;

    .timestamp {
      display: inline-block;
      font-size: 1.25rem;
      margin-right: 6px;
    }
  }
}

/*
 * Checkout
 * -------------------------------------------------
 */
.cart-details-table {
  td {
    vertical-align: middle !important;
  }

  .media {
    .media-left {
      a {
        display: block;
        position: relative;
        width: 60px;
        height: 40px;
        overflow: hidden;
      }
    }
    .media-object {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    .media-body {
      width: auto;
      min-width: 480px;

      a {
        color: #555;
        line-height: 40px;
        .color-transition(ease-out, .25s);

        &:hover,
        &:focus {
          color: #777;
          text-decoration: none;
        }
      }
    }
  }
}

.right-buttons {
  .btn {
    margin-left: 4px;
  }
}

/*
 * Footer
 * -------------------------------------------------
 */
footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #333;
  color: #777;
}

footer .home-link {
  display: block;
  margin-bottom: 12px;
  color: #777;

  -webkit-transition: color ease-out .6s;
  -o-transition: color ease-out .6s;
  transition: color ease-out .6s;
}

footer .home-link:hover,
footer .home-link:focus {
  color: #999;
}

footer .section-list {
  list-style: none;
}

footer .section-list > li {
  margin-bottom: 12px;
}

footer .section-list > li > a {
  color: #777;
  .color-transition(ease-out, .6s);
}

footer .section-list > li > a:hover,
footer .section-list > li > a:focus {
  color: #999;
}

footer .legal {
  text-align: justify;
  font-size: 1.2rem;

  .color-transition(ease-out, .6s);
}

footer .legal:hover {
  color: #999;
}

/*
 * Chat Button
 * -------------------------------------------------
 */
.chat-wrapper {
  position: fixed;
  bottom: 70px;
  left: 0;
  transform: translateX(-76px);
  padding: 6px 6px;
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
  border-radius: 0 2px 2px 0;
  z-index: 9999;
  .transition(transform ease-out .25s);


  &:hover,
  &:focus {
    transform: translateX(0);
  }
  .icon {
    color: #f04b51;
    position: relative;
    top: 2px;
    font-size: 2rem;
    margin-left: 6px;
  }
  .icon.on {
    color: #40c23c;
  }

  a {
    font-weight: bold;
  }
}

/*
 * ngAnimation
 * -------------------------------------------------
 */
.slide {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  -moz-transition: -moz-transform .7s ease-in-out;
  -o-transition: -o-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/*
 * Keyframes
 * -------------------------------------------------
 */
.animation-fade-in-down() {
  @-webkit-keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-moz-keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-o-keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.animation-slide-down() {
  @-webkit-keyframes slide-down {
    0% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(-100%);
    }
    100% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(0);
    }
  }
  @-moz-keyframes slide-down {
    0% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(-100%);
    }
    100% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(0);
    }
  }
  @-o-keyframes slide-down {
    0% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(-100%);
    }
    100% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(-100%);
    }
    100% {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      transform: translateY(0);
    }
  }
}

.animation-fade-in-down;
.animation-slide-down;

/*
 * Bootstrap override
 * -------------------------------------------------
 */
@font-family-sans-serif: "Open Sans", sans-serif;
@brand-warning: #f96816;
@border-radius-base: 2px;
@border-radius-small: 1px;
@border-radius-large: 4px;
@alert-padding: 8px;
@state-success-bg: #40c23c;
@state-success-text: #fff;
@state-danger-bg: #f04b51;
@state-danger-text: #fff;

.form-control {
  border-radius: 2px;
}
.btn {
  min-width: 130px;
  border: 1px solid transparent;
  font-weight: bold;
  transition: background-color .3s ease-out;
}
.btn-block {
  min-width: 0;
}
.btn.btn-contain {
  min-width: 0;
}
@media (min-width: 768px) {
  .navbar-nav > li > a.btn {
    padding: 6px 12px;
  }
}
.navbar-nav > li > a.btn {
  line-height: initial;
}
.btn-warning:focus,
.btn-warning:hover {
  background-color: #ff7b39;
  border-color: transparent;
}
.btn-warning:active {
  background-color: #d64d09;
}
form label {
  display: block;
  color: gray;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: -2px;
}
@media (min-width: 768px) {
  .nav-justified > li > a {
    margin-bottom: 30px;
  }
}
.nav-tabs > li > a {
  border: none;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid @gray-color;
  color: darken(@gray-color, 30%);
  border-color: darken(@gray-color, 50%);
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    color: darken(@gray-color, 10%);
    border-bottom: 1px solid @gray-color;
    font-weight: bold;

    .transition(color ease-out .3s, border-color ease-out .3s);
  }
}
.tab-pane {
  padding: 12px;
  color: darken(@gray-color, 30%);
}
.nav-pills > li > a {
  color: darken(@gray-color, 10%);
  border-bottom: 1px solid @gray-color;
  font-weight: bold;

  .transition(color ease-out .3s, border-color ease-out .3s);
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: darken(@gray-color, 30%);
  border-color: darken(@gray-color, 50%);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: darken(@gray-color, 30%);
  border-color: darken(@gray-color, 50%);
  background-color: transparent;
}
.tooltip .tooltip-inner {
  background-color: @header-section-bar-background-color;
  font-weight: bold;
}
.tooltip.top .tooltip-arrow {
  border-top-color: @header-section-bar-background-color;
}
.tooltip.left .tooltip-arrow {
  border-left-color: @header-section-bar-background-color;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: @header-section-bar-background-color;
}
.tooltip.right .tooltip-arrow {
  border-right-color: @header-section-bar-background-color;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*
 * Flex util
 * --------------------------------------------------
 */
.flex-horizontal-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
}

.flex-vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

/* Center pagination */
.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
}