@import dao.Section
@import settings.GeneralSettings
@(sections: Seq[Section])(implicit messages: Messages, settings: GeneralSettings)

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @if(sections.nonEmpty) {
                    @defining(sections.filterNot(_.is_widget).sortBy(_.order).grouped(sections.length/2).toList) { splitted =>
                        <div class="row">
                            @for(sections <- splitted) {
                                <div class="col-sm-12 col-md-6">
                                    <ul class="section-list">
                                        @if(splitted.indexOf(sections) == 0) {
                                            <li>
                                                <a href="@routes.Application.index()">@messages("home")</a>
                                            </li>
                                        }
                                        @for(section <- sections) {
                                            <li>
                                                <a href="#/section/@helper.urlEncode(section.name)">@section.name</a>
                                            </li>
                                        }
                                        @if(splitted.indexOf(sections) == 1) {
                                            <li>
                                                <a href="http://apps.siberos.net:4000/">@messages("get_your_shop")</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }
                } else {
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <ul class="section-list">
                                <li>
                                    <a href="@routes.Application.index()">@messages("home")</a>
                                </li>
                                <li>
                                    <a href="http://apps.siberos.net:4000/">@messages("get_your_shop")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-6 legal">
            @settings.legal_info
            </div>
        </div>
    </div>
</footer>