@import dao.{Section, User}
@import settings.GeneralSettings
@import util.lang.ClientLang.CurrentLang
@(sections: Seq[Section], supportedLangs: Seq[Lang], user: Option[User] = None)(implicit messages: Messages, current_lang: CurrentLang, settings: GeneralSettings)

    <!-- Categories offcanvas menu -->
<nav id="categories-offcanvas" class="navmenu navmenu-default navmenu-fixed-left offcanvas categories-offcanvas" role="navigation" category-menu></nav>

<header style="background-image: url(@routes.Resources.get(settings.shop_cover, "default"))">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="inner">
                    @if(settings.logo.nonEmpty) {
                        <img src="@routes.Resources.get(settings.logo, "default")" class="page-logo" />
                        <hr/>
                    }
                    <h1 class="page-title">@settings.shop_name</h1>
                    <h2 class="page-description">@settings.shop_description</h2>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-scroll" scrolling>
        <div class="container-fluid">
            <div class="row sections-bar">
                <div class="col-sm-12 col-md-8">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src="@routes.Resources.get(if(settings.logo_minimal.nonEmpty) settings.logo_minimal else "undefined", "default")" />
                        </a>
                    </div>
                    <ul class="sections">
                        <li>
                            <a href="#/index">
                            <span class="glyphicon glyphicon-home"></span> @messages("home")
                            </a>
                        </li>
                    @for(section <- sections.filter(s => s.in_header || s.is_widget).sortBy(_.order)) {
                        <li>
                            @if(section.is_widget) {
                                <a href="!" data-toggle="offcanvas" data-target="#categories-offcanvas" data-canvas="body">
                                <span class="glyphicon glyphicon-menu-hamburger"></span> @section.name
                                </a>
                            } else {
                                <a href="#/section/@helper.urlEncode(section.name)">@section.name</a>
                            }
                        </li>
                    }
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul class="nav navbar-nav navbar-right">
                        @if(user.isEmpty) {
                            <li>
                                <a href="@routes.Login.sign_in_form()" class="btn btn-warning navbar-btn sign-in-btn">@messages("sign_in")</a>
                            </li>
                        } else {
                            <li class="dropdown profile-picture" user-menu></li>
                        }
                        <li class="dropdown languages">
                            <a href="!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="flag-icon" src="@routes.Assets.versioned("images/flags-iso/24/" + current_lang.code.toUpperCase + ".png")" /> @current_lang.code.toUpperCase <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            @for(supportedLang <- supportedLangs.groupBy(_.language).map(_._2.head)) {
                                <li>
                                    <a href="@routes.Language.set(supportedLang.language)">
                                        <img class="flag-icon" src="@routes.Assets.versioned("images/flags-iso/24/" + supportedLang.language.toUpperCase + ".png")" /> @supportedLang.language.toUpperCase
                                    </a>
                                </li>
                            }
                            </ul>
                        </li>
                        @if(user.nonEmpty) {
                            <li class="dropdown" user-cart></li>
                        }
                        <li>
                            <a href="!" class="search-btn" search>
                                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>