@import controllers.Login.UserLogin
@import dao.{Section, User}
@import settings.GeneralSettings
@import util.lang.ClientLang.CurrentLang
@(userLoginForm: Form[UserLogin], sections: Seq[Section], supportedLangs: Seq[Lang], user: Option[User] = None, content: Html = null)(implicit messages: Messages, flash: Flash, current_lang: CurrentLang, settings: GeneralSettings)

<!DOCTYPE html>
<html lang="en" ng-app="Store">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />

        <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />

        <title>@settings.shop_name</title>

            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" />
            <!-- FontAwesome icon set -->
        <link rel="stylesheet" href="@routes.Assets.versioned("font-awesome-4.4.0/css/font-awesome.min.css")" />

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="@routes.Assets.versioned("css/jasny-bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/store.css")" />
            <!-- Product gallery -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.6/css/lightgallery.min.css" />
    </head>
    <body ng-controller="StoreController">
            <!-- Search -->
        <div class="search-backdrop">
            <a href="!" class="close">&times;</a>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="search-input" placeholder="@messages("search.placeholder")" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="results">
                                    <li ng-repeat="item in search_results" class="result-item">
                                        <a href="#/product/{{item.reference}}" class="link"></a>
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#/product/{{item.reference}}">
                                                    <img class="media-object" src="/res/products/80/120/{{search.defaultPicture(item)}}" alt="{{item.name.items[0].value}}">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="#/product/{{item.reference}}">
                                                        <span class="name">{{item.name.items[0].value}}</span>
                                                    </a>
                                                    <span class="price">
                                                        {{search.price(item) | currency: ""}} &euro;
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="no-results" ng-show="search_no_results">@messages("search.no_results")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @header(sections, supportedLangs, user)

            <!-- Wrapper to load async views -->
        <div id="main-body-container" class="slide" ng-view ng-animate async-submission>@content</div>

        @footer(sections)

        @if(user.nonEmpty) {
            @if(!user.get.is_admin) {
                <div class="chat-wrapper" ng-show="connected" button-chat-controller>
                    <a href="!" ng-click="showPopup()">
                        @messages("chat.live_chat") <i class="fa fa-circle icon" aria-hidden="true"></i>
                    </a>
                </div>
            }
        }

            <!-- Confirmation modal -->
        <div class="modal fade" id="bt-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="bt-confirm-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="bt-confirm-modal-label">@messages("modal.delete_confirmation_title")</h4>
                    </div>
                    <div class="modal-body">
                    @messages("modal.delete_confirmation")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@messages("cancel")</button>
                        <button type="button" class="btn btn-primary" id="bt-confirm-modal-proceed">@messages("delete")</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Shop generator ad -->
        <div class="modal fade" id="shop-generator-ad" tabindex="-1" role="dialog" aria-labelledby="shop-generator-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="shop-generator-label">@messages("modal.shop_generator_title")</h4>
                    </div>
                    <div class="modal-body">
                    @Html(messages("modal.shop_generator_message"))
                    </div>
                </div>
            </div>
        </div>

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
            <!-- Angular Route -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
            <!-- Angular Animate -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
            <!-- Bootstrap -->
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>

        <script src="@routes.Assets.versioned("js/jasny-bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/index.js")"></script>
        <script src="@routes.Assets.versioned("js/app/store.js")"></script>
        <script src="@routes.Assets.versioned("js/app/controllers.js")"></script>
        <script src="@routes.Assets.versioned("js/app/header-controller.js")"></script>
        <script src="@routes.Assets.versioned("js/app/user-controller.js")"></script>
        <script src="@routes.Assets.versioned("js/app/product-controller.js")"></script>
        <script src="@routes.Assets.versioned("js/app/chat.js")"></script>

            <!-- Product gallery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.6/js/lightgallery.min.js"></script>
            <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
            <!-- lightgallery plugins -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.6/js/lg-thumbnail.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.6/js/lg-fullscreen.min.js"></script>
    </body>
</html>