@import controllers.Login.UserLogin
@import settings.GeneralSettings
@(loginForm: Form[UserLogin])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

@head = {
    <link rel="stylesheet" href="@routes.Assets.versioned("css/login.css")" />
}

@body = {
    <div class="full-screen">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 flex-horizontal-center flex-center">
                    @if(flash.get("redirect-message").nonEmpty) {
                        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                            @flash.get("redirect-message").get
                        </div>
                    }

                    @b3.vertical.form(routes.Login.sign_in(), 'class -> "login") { implicit ifc =>
                        <a href="@routes.Application.index()" class="brand">
                            <img src="@routes.Resources.get(settings.logo_minimal, "default")" />
                        </a>
                        <h1 class="page-header">@messages("sign_in")</h1>
                        @b3.text(loginForm("username"), '_label -> messages("login.username"))
                        @b3.password(loginForm("password"), '_label -> messages("login.password"))
                        <div class="form-group">
                            <a href="#" class="forgot-password">@messages("login.forgot_password")</a>
                            <button type="submit" class="btn btn-primary pull-right">@messages("sign_in")</button>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <p class="text-center">
                                <a href="@routes.Application.sign_up_form()">@messages("login.create_account")</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@main_layout(settings.shop_name, head, body)