@import controllers.Application.UserRegistration
@import settings.GeneralSettings
@(loginForm: Form[UserRegistration])(implicit messages: Messages, flash: Flash, settings: GeneralSettings)

    @head = {
        <link rel="stylesheet" href="@routes.Assets.versioned("css/login.css")" />
    }

    @body = {
        <div class="full-screen">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 flex-horizontal-center flex-center">
                        @if(flash.get("redirect-message").nonEmpty) {
                            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
                            @flash.get("redirect-message").get
                            </div>
                        }
                        @if(loginForm.hasGlobalErrors) {
                            <div class="alert alert-danger" role="alert">
                            @for(error <- loginForm.globalErrors) {
                                <div>
                                    @messages(error.message)
                                </div>
                            }
                            </div>
                        }

                        @b3.vertical.form(routes.Application.sign_up(), 'class -> "login register") { implicit ifc =>
                            <a href="@routes.Application.index()" class="brand">
                                <img src="@routes.Resources.get(settings.logo_minimal, "default")" />
                            </a>
                            <h1 class="page-header">@messages("sign_up")</h1>
                            <div class="row minimal-padding">
                                <div class="col-sm-6">
                                @b3.text(loginForm("name"), '_label -> messages("sign_up.name"))
                                </div>
                                <div class="col-sm-6">
                                @b3.text(loginForm("last-name"), '_label -> messages("sign_up.last_name"))
                                </div>
                            </div>
                            <div class="row minimal-padding">
                                <div class="col-sm-6">
                                @b3.text(loginForm("dni"), '_label -> messages("sign_up.dni"))
                                </div>
                                <div class="col-sm-6">
                                @b3.text(loginForm("phone-number"), '_label -> messages("sign_up.phone_number"))
                                </div>
                            </div>
                            <div class="row minimal-padding">
                                <div class="col-sm-6">
                                @b3.text(loginForm("username"), '_label -> messages("sign_up.username"))
                                </div>
                                <div class="col-sm-6">
                                @b3.text(loginForm("mail"), '_label -> messages("sign_up.mail"))
                                </div>
                            </div>
                        @b3.password(loginForm("password"), '_label -> messages("sign_up.password"))
                        @b3.password(loginForm("repassword"), '_label -> messages("sign_up.repassword"))
                            <div class="form-group">
                                <a href="@routes.Login.sign_in_form()" class="forgot-password">@messages("sign_in")</a>
                                <button type="submit" class="btn btn-primary pull-right">@messages("sign_up")</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @main_layout(settings.shop_name + " | Sign Up", head, body)