@import dao.User
@import settings.GeneralSettings
@(user: User)(implicit messages: Messages, settings: GeneralSettings)

<!DOCTYPE html>

<html lang="en" ng-app="Chat">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />

        <link rel="icon" href="@routes.Assets.versioned("images/favicon.png")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />

        <title>@messages("panel.titles.admin_chat")</title>

            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" />
            <!-- FontAwesome icon set -->
        <link rel="stylesheet" href="@routes.Assets.versioned("font-awesome-4.4.0/css/font-awesome.min.css")" />
            <!-- Chat style -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/jasny-bootstrap.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/panel/chat.css")" />

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="ChatController" user-name="@{user.name + " " + user.last_name}">
            <!-- Audio -->
        <audio preload="auto" tone>
            <source src="@routes.Assets.versioned("sounds/success_tone.mp3")" type="audio/mpeg">
        </audio>

            <!-- Offcanvas -->
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" >
            <a class="navmenu-brand visible-md visible-lg" href="#">
                <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i> @messages("chat.admin.chats")

                <button type="button" class="btn navbar-btn connection-btn" ng-class="!connected ? 'btn-success' : 'btn-danger'" ng-click="connectOrDisconnect()">
                    <span ng-hide="connected">
                        <i class="fa fa-toggle-off" aria-hidden="true"></i> @messages("chat.connect")
                    </span>
                    <span ng-hide="!connected">
                        <i class="fa fa-toggle-on" aria-hidden="true"></i> @messages("chat.disconnect")
                    </span>
                </button>
            </a>
            <chat-list>
                <ul class='nav navmenu-nav chat-list'>
                    <li ng-repeat="chat in chat_list.chats">
                        <a href="#" conversation-hash="{{chat.hash}}" ng-class="chat.online ? 'on' : 'off'" ng-click="chat.show()">
                            <i class="fa fa-circle" ng-class="chat.online ? 'icon-on' : 'icon'" aria-hidden="true"></i> {{chat.username}}
                            <span class="remove" ng-click="chat_list.remove(chat.hash)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </chat-list>
        </div>

            <!-- Top bar -->
        <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                        <span class="sr-only">Toggle chats menu</span>
                        <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
                        @messages("chat.admin.chats")
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn navbar-btn connection-btn" ng-class="!connected ? 'btn-success' : 'btn-danger'" ng-click="connectOrDisconnect()">
                            <span ng-hide="connected">
                                <i class="fa fa-toggle-off" aria-hidden="true"></i> @messages("chat.connect")
                            </span>
                            <span ng-hide="!connected">
                                <i class="fa fa-toggle-on" aria-hidden="true"></i> @messages("chat.disconnect")
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="full-screen">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cover" ng-repeat="chat in chat_list.chats" ng-class="chat.hash" ng-include="'/chat/view'" ng-show="chat.is_active"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
            <!-- Angular Route -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
            <!-- Angular Animate -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
            <!-- Bootstrap -->
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/jasny-bootstrap.min.js")"></script>
            <!-- Angular Chat Module -->
        <script src="@routes.Assets.versioned("js/app/panel/chat.js")"></script>
    </body>
</html>