@import controllers.panel.Categories.AddCategoryForm
@import dao.ComplexCategory
@(addform: Form[AddCategoryForm], categories: Seq[ComplexCategory] = Seq())(implicit messages: Messages, session: Session, flash: Flash)


@import b3.vertical.fieldConstructor

@section = {
    <h1 class="page-header">Categories Configuration</h1>

@if(flash.get("redirect-message").nonEmpty) {
    <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
    @flash.get("redirect-message").get
    </div>
}

    <h2 class="sub-header">Add new category</h2>
    <div class="row">
    @b3.form(controllers.panel.routes.Categories.category_add()) {
        <div class="col-sm-8">
        @b3.select(addform("parent"), options = ("0", "No parent") +: categories.map(c => (c.id.get.toString, c.name.toString)), '_label -> "Parent Category")
        @defining(b3.clear.fieldConstructorSpecific) { cfc =>
          <div class="row">
              <div class="col-sm-9">
                @b3.text(addform("name"), '_label -> "Name", 'id -> "nameTxt")
              </div>
              <div class="col-sm-3">
              @b3.number(addform("order"), '_label -> "Order", 'value -> "0")
              </div>
          </div>
        }
        @b3.text(addform("normalized"), '_label -> "Normalized URL", '_help -> "Can only contain letters (a-z, A-Z), numbers (0-9) and hypens (-)", 'id -> "normalizedTxt")
        @b3.submit('class -> "btn btn-primary") { <span class="glyphicon glyphicon-ok"></span> Add category }
        </div>
    }
    </div>

    <h2 class="sub-header">Categories</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Normalized</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            @if(categories.isEmpty) {
                <tr>
                    <td colspan="4">There are no categories inserted.</td>
                </tr>
            } else {
                @for(i <- categories) {
                    <tr>
                        <td>@i.id</td>
                        <td>@i.name</td>
                        <td>@i.normalized_url</td>
                        <td>
                            <a href="@controllers.panel.routes.Categories.category_delete(i.id.get)">Delete</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}

@scripts = {
    <script>
        $(function() {
            var nameTxt = $("#nameTxt");
            var normalizedTxt = $("#normalizedTxt");
            var allowedChars = [
                'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
                'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z',
                '0','1','2','3','4','5','6','7','8','9','0',
                '-'
            ];

            nameTxt.on("keyup", function(e) {
                if (nameTxt.val().length === 0) {
                    normalizedTxt.val("");
                } else if (e.which == 8) {
                    normalizedTxt.val("");

                    for(var i = 0; i < nameTxt.val().length; i++) {
                        if (isAllowed(nameTxt.val()[i].charCodeAt(0))) {
                            normalizedTxt.val(normalizedTxt.val() + nameTxt.val()[i]);
                        } else if (nameTxt.val()[i].charCodeAt(0) == 32) {
                            normalizedTxt.val(normalizedTxt.val() + "-");
                        }
                    }
                }
            });

            nameTxt.on("keypress", function(e) {
                if (isAllowed(e.which)) {
                    normalizedTxt.val(normalizedTxt.val() + String.fromCharCode(e.which));
                } else if (e.which == 32) {
                    normalizedTxt.val(normalizedTxt.val() + "-");
                }
            });

            normalizedTxt.on("keypress", function(e) {
                if (!isAllowed(e.which)) {
                    return false;
                }
            });

            function isAllowed(charNumber) {
                for(var i = 0; i < allowedChars.length; i++) {
                    if (charNumber == allowedChars[i].charCodeAt(0)) {
                        return true;
                    }
                }

                return false;
            }
        });
    </script>
}

@views.html.panel.panel_layout("Panel | Categories Configuration",
    body = section, scripts = scripts, section = "categories")