@import controllers.panel.Conversations.AddMessageForm
@import dao.ComplexConversation
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@(addform: Form[AddMessageForm], conversation: ComplexConversation)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@import b3.vertical.fieldConstructor

@section = {
    @b3.form(controllers.panel.routes.Conversations.add_message(conversation.hash)) {
        @views.html.panel.conversations_toolbar()

        @if(flash.get("redirect-message").nonEmpty) {
            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
            </div>
        }

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="sub-header">@conversation.title</h3>
                    </div>
                </div>

                @for(message <- conversation.messages.sortBy(-_.timestamp.getMillis)) {
                    <div class="row">
                        <div class="col-sm-12 message">
                            <div class="header">
                                <span class="timestamp">@message.timestamp.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</span>
                                @message.user.name @message.user.last_name
                            </div>
                            @message.message
                        </div>
                    </div>
                }

                <hr/>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- Message -->
                        <div class="row">
                            <div class="col-sm-12">
                                @b3.textarea(addform("message"), '_label -> messages("panel.conversations.message"), 'rows -> "6")
                            </div>
                        </div>
                        <!-- Submit btn -->
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary pull-right">@messages("add")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@views.html.panel.panel_layout("Panel | Conversation View",
    body = section,
    settings = settings,
    section = "conversations"
)