@import dao.Conversation
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@import util.Pagination
@(conversations: Seq[Conversation] = Seq(), pagination: Pagination)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    @views.html.panel.conversations_toolbar()

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@messages("panel.conversations.title")</th>
                    <th>@messages("panel.conversations.created_on")</th>
                    <th>@messages("panel.conversations.last_activity_on")</th>
                    <th>@messages("panel.list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @if(conversations.isEmpty) {
                <tr>
                    <td colspan="4">There are no conversations.</td>
                </tr>
            } else {
                @for(conversation <- conversations) {
                    <tr>
                        <td>@conversation.title</td>
                        <td>@conversation.created_on.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                        <td>@conversation.last_activity_on.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                        <td>
                            <a href="@controllers.panel.routes.Conversations.view(conversation.hash)">@messages("panel.list.actions.view")</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="@controllers.panel.routes.Conversations.pager(1, "desc")" aria-label="First"><span aria-hidden="true">&larr;</span></a>
            </li>
            <li @if(pagination.previous.isEmpty) { class="disabled" } >
            @if(pagination.previous.isEmpty) {
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Conversations.pager(pagination.previous.get, "desc")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            }
            </li>
            @for(page <- pagination.pages) {
                <li @if(page == pagination.actual_page) { class="active" }>
                    <a href="@controllers.panel.routes.Conversations.pager(page, "desc")">@page</a>
                </li>
            }
            <li @if(pagination.next.isEmpty) { class="disabled" }>
            @if(pagination.next.isEmpty) {
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Conversations.pager(pagination.next.get, "desc")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            }
            </li>
            <li>
                <a href="@controllers.panel.routes.Conversations.pager(pagination.last, "desc")" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
}

@views.html.panel.panel_layout("Panel | Conversations",
    body = section,
    settings = settings,
    section = "conversations"
)