@(section: String = "")(implicit messages: Messages)

<h3>@messages("panel.menus.sidebar.default.main_menu")</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "orders") {class="active"}><a href="@routes.Panel.index()">Orders</a></li>
    <li @if(section == "products") {class="active"}><a href="@controllers.panel.routes.Products.products()">Products</a></li>
    <!--
        <li @if(section == "multilanguage") {class="active"}><a href="@controllers.panel.routes.Multilanguage.multilanguage()">Multilanguage</a></li>
    -->
    <li @if(section == "categories") {class="active"}><a href="@controllers.panel.routes.Categories.categories()">Categories</a></li>
    <li @if(section == "vats") {class="active"}><a href="@controllers.panel.routes.VATS.vats()">VAT Types</a></li>
</ul>

<h3>Conversations</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "conversations") {class="active"}><a href="@controllers.panel.routes.Conversations.conversations()">Conversations</a></li>
</ul>

<h3>Design</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "shop-sections") {class="active"}><a href="@controllers.panel.routes.Sections.sections()">Sections</a></li>
</ul>

<h3>Import & Export</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "import-export-products") {class="active"}><a href="@controllers.panel.routes.Products.import_export_form()">Products</a></li>
</ul>

<!--
<h3>Defaults</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "restore-defaults") {class="active"}><a href="@controllers.routes.PrimaryConfig.restore_defaults_form()">Restore defaults</a></li>
</ul>
-->