@import settings.GeneralSettings
@(form: Form[GeneralSettings])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    <h1 class="page-header">General Settings</h1>

@if(flash.get("redirect-message").nonEmpty) {
    <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
    @flash.get("redirect-message").get
    </div>
}

    <div class="row">
        <div class="col-sm-10">
        @b3.vertical.form(controllers.panel.routes.Settings.general_settings_save(), 'enctype -> "multipart/form-data") { implicit fc =>
            <div class="row">
                <div class="col-sm-12">
                    @b3.text(form("shop-name"), '_label -> "Shop Title", '_help -> "This will be used as the web title.")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @b3.textarea(form("shop-description"), '_label -> "Shop Description", 'rows -> "4")
                    <span class="help-block">Describe what your shop is about</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="logo-image">Logo</label>
                <input type="file" class="flying-file" name="logo-image" id="logo-image-file" />
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#file-upload-modal" data-file="#logo-image-file" data-preview="#logo-image">
                    <span class="glyphicon glyphicon-upload"></span> @messages("panel.upload_image")
                </button>
                <br/>
                <img src="@routes.Resources.get(if (settings.logo.nonEmpty) settings.logo else "notfound", "default")" class="image" id="logo-image" />
                <span class="help-block">Display a cool logo in the header of your shop.</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="logo-minimal-image">Minimal Logo</label>
                <input type="file" class="flying-file" name="logo-minimal-image" id="logo-image-minimal-file" />
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#file-upload-modal" data-file="#logo-image-minimal-file" data-preview="#logo-minimal-image">
                    <span class="glyphicon glyphicon-upload"></span> @messages("panel.upload_image")
                </button>
                <br/>
                <img src="@routes.Resources.get(if (settings.logo_minimal.nonEmpty) settings.logo_minimal else "notfound", "default")" class="image" id="logo-minimal-image" />
                <span class="help-block">This is a minimal version of your logo (recommended size: 200px by 60px)</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="shop-cover">Shop Cover</label>
                <input type="file" class="flying-file" name="shop-cover" id="shop-cover-file" />
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#file-upload-modal" data-file="#shop-cover-file" data-preview="#shop-cover">
                    <span class="glyphicon glyphicon-upload"></span> @messages("panel.upload_image")
                </button>
                <br/>
                <img src="@routes.Resources.get(if (settings.shop_cover.nonEmpty) settings.shop_cover else "notfound", "default")" class="image" id="shop-cover" />
                <span class="help-block">Display a cover image on your site</span>
            </div>
            @b3.text(form("company-name"), '_label -> "Company Name", '_help -> "This is the name of your company.")
            <div class="row">
                <div class="col-md-8">
                @b3.text(form("address"), '_label -> "Company Address", '_help -> "This is the place where your company is located.")
                </div>
                <div class="col-md-4">
                @b3.text(form("nif-cif"), '_label -> "Company NIF/CIF", '_help -> "This is the fiscal identification number.")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                @b3.number(form("products-per-page"), 'min -> "8", '_label -> "Products per page", '_help -> "Number of products to show per page.")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @b3.textarea(form("legal-info"), '_label -> "Legal Information", 'rows -> "4")
                </div>
            </div>

            <h3 class="sub-header">Slider</h3>
            @b3.checkbox(form("activate-slider"), '_text -> "Use a slider to show offers if any.")

            <div class="row">
                <div class="col-sm-12">
                    @b3.submit('class -> "btn btn-primary pull-right") { <span class="glyphicon glyphicon-ok"></span> Save }
                </div>
            </div>
        }
        </div>
    </div>
}

@scripts = {
    <script src="@routes.Assets.versioned("js/file-upload.js")"></script>
}

@views.html.panel.panel_layout(
    "Panel | General settings",
    body = section,
    scripts = scripts,
    sidebar_menu = Some(sidebar_settings_menu("general-settings")),
    settings = settings,
    section = "general-settings"
)