@(current: String = "home", toolbar: Html = null)(implicit messages: Messages)

<nav class="navbar navbar-section navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-menu-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">@messages("panel.import_export.products.toolbar.title")</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-menu-collapse-1">
        <ul class="nav navbar-nav">
            <li @if(current == "home") {class="active"}>
                <a href="@controllers.panel.routes.Products.import_export_form()">
                    <span class="glyphicon glyphicon-import"></span> @messages("import")
                </a>
            </li>
            <li @if(current == "export") {class="active"}>
                <a href="@controllers.panel.routes.Products.export_products()" target="_blank">
                    <span class="glyphicon glyphicon-export"></span> @messages("export")
                </a>
            </li>
        </ul>

        @toolbar
    </div>
</nav>