@import controllers.panel.Multilanguage.MultilanguageAddForm
@import dao.{Language, SupportedLang}
@(addForm: Form[MultilanguageAddForm], languages: Seq[Language], supportedLanguages: Seq[SupportedLang] = Seq())(implicit messages: Messages, session: Session, flash: Flash)

@import b3.clear.fieldConstructor

@section = {
    <h1 class="page-header">Multilanguage Configuration</h1>

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <h2 class="sub-header">Add support for new languages</h2>
    <div class="row">
    @b3.form(controllers.panel.routes.Multilanguage.multilanguage_add_new()) {
        <div class="col-sm-6">
            @b3.select(addForm("lang-id"), options = languages.map(l => (l.id.toString, l.name)))
        </div>
        <div class="col-sm-2">
            @b3.submit('class -> "btn btn-default") { <span class="glyphicon glyphicon-ok"></span> Add support }
        </div>
    }
    </div>

    <h2 class="sub-header">Supported languages</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="10%"></th>
                    <th width="10%">Default</th>
                    <th>Language</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if(supportedLanguages.isEmpty) {
                <tr>
                    <td colspan="4">There are no languages currently supported.</td>
                </tr>
            } else {
                @for(i <- supportedLanguages) {
                    <tr>
                        <td>
                            <img src="@routes.Assets.versioned("images/flags-iso/24/" + i.short.toUpperCase + ".png")" onerror="this.src='@routes.Assets.versioned("images/flags-iso/24/_unknown.png")';" width="24" height="24" />
                            @i.short.toUpperCase
                        </td>
                        <td>
                        @if(i.is_default) {
                            <span class="glyphicon glyphicon-ok green"></span>
                        }
                        </td>
                        <td>@i.name</td>
                        <td>
                            <a href="@controllers.panel.routes.Multilanguage.multilanguage_delete()?id=@i.id">Delete</a>
                        @if(!i.is_default) {
                            /
                             <a href="@controllers.panel.routes.Multilanguage.multilanguage_default()?id=@i.id">Make default</a>
                        }
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}

@views.html.panel.panel_layout("Panel | Multilanguage Configuration",
    body = section, section = "multilanguage")