@import controllers.panel.Products.AddProduct
@import dao.{ComplexCategory, ComplexProduct, VAT}
@(addForm: Form[AddProduct], categories: Seq[ComplexCategory], vats: Seq[VAT], products: Seq[ComplexProduct])(implicit messages: Messages, session: Session, flash: Flash)
@*
@head = {
    <!-- CodeMirror css -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
        <!-- Summernote css -->
    <link href="@routes.Assets.versioned("summernote-0.8.1/summernote.css")" rel="stylesheet">
}

@section = {
    <h1 class="page-header">Products</h1>

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <h2 class="sub-header">Add new product</h2>
    <div class="row">
    @b3.form(controllers.panel.routes.Products.products_add(), 'enctype -> "multipart/form-data") {
        <div class="col-sm-8">
            @b3.text(addForm("name"), '_label -> "Product name")
            @b3.textarea(addForm("description"), 'id -> addForm("description").name)
            <div class="row">
                <div class="col-sm-6">
                @b3.select(addForm("category-id"), options = categories.map(c => (c.id.get.toString, c.name.toString)), '_label -> "Category")
                </div>
                <div class="col-sm-6">
                @b3.select(addForm("vat-id"), options = vats.map(v => (v.id.get.toString, v.name)), '_label -> "VAT Type")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                @b3.number(addForm("stock"), '_label -> "Stock", 'placeholder -> "0")
                </div>
                <div class="col-sm-6">
                @b3.number(addForm("price"), 'min -> "0", 'step -> "0.01", '_label -> "Price", 'placeholder -> "0")
                </div>
            </div>
            @b3.submit('class -> "btn btn-default") {
                <span class="glyphicon glyphicon-ok"></span> Add product
            }
        </div>
        <div class="col-sm-4">
            <input type="file" name="file" id="file" class="flying-file" />
            <div class="default-image-wrapper" id="drop">
                <div class="info-wrapper">
                    <div class="icon">
                        <i class="fa fa-picture-o fa-5x"></i>
                    </div>
                    <div class="info-text" id="status">Click to upload the default image.</div>
                </div>
            </div>
        </div>
    }
    </div>

    <h2 class="sub-header">Products</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Ref.</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if(products.isEmpty) {
                <tr>
                    <td colspan="5">There are no products in the database.</td>
                </tr>
            } else {
                @for(i <- products) {
                    <tr>
                        <td>
                            @if(i.gallery.exists(_.is_default)){
                                @defining(i.gallery.find(_.is_default).get) { default =>
                                    <img src="@routes.Resources.resize(default.fileuuid, 140, 140, "products")" class="thumbnail default" />
                                }
                            }else{
                                <img src="@routes.Assets.versioned("images/no_image_available.png")" class="thumbnail default" />
                            }
                        </td>
                        <td>@i.reference</td>
                        <td>
                            <a href="@controllers.panel.routes.Products.product_view(i.reference)">@i.name</a>
                        </td>
                        <td>@i.category.name</td>
                        <td>
                            <a href="@controllers.panel.routes.Products.product_add_properties(i.reference)">Add property</a> /
                            <a href="@controllers.panel.routes.Products.product_delete()?id=@i.id">Delete</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}

@scripts = {
    <script src="@routes.Assets.versioned("js/jquery.hotkeys.js")"></script>
        <!-- Include Dropzone.js -->
    <script src="@routes.Assets.versioned("js/dropzone.js")"></script>

        <!-- CodeMirror -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
        <!-- Summernote -->
    <script type="text/javascript" src="@routes.Assets.versioned("summernote-0.8.1/summernote.min.js")"></script>

    <script>
            $(function(){
                $('[data-toggle="tooltip"]').tooltip();
                $("#@{addForm("description").name}").summernote({
                    minHeight: 380,
                    callbacks: {
                        onInit: function() {
                            var textarea;
                        },
                        onChange: function(contents, $editable) {
                            console.log('onChange:', contents, $editable);
                        }
                    }
                });
            });

            $("#drop").on("click", function(e) {
                e.preventDefault();
                e.stopPropagation();

                var hiddenFile = $("#file");
                if (hiddenFile != null || hiddenFile != undefined) {
                    hiddenFile.click();

                    hiddenFile.on("change", function() {
                        var input = this;
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onloadend = function(e, file) {
                                var bin = this.result;
                                var img = $("#drop").children("img");
                                $(".info-wrapper").hide();

                                if (img == null || img == undefined || img.length == 0) {
                                    var l = document.createElement("img");
                                    $("#drop").append(l);
                                    img = $("#drop").children("img");
                                }

                                img.get(0).file = file;
                                img.get(0).src = bin;
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    });
                }

                return false;
            });
    </script>
}

@views.html.panel.panel_layout("Panel | Products",
    head = head,
    body = section,
    scripts = scripts,
    section = "products"
)
    *@