@import dao.Order
@import org.joda.time.format.DateTimeFormat
@import settings.GeneralSettings
@import util.Pagination
@(orders: Seq[Order] = Seq(), pagination: Pagination)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    @views.html.panel.orders_toolbar()

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <div class="table-responsive" ng-app="orders">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@messages("panel.orders.ref")</th>
                    <th>@messages("panel.orders.proforma_invoice")</th>
                    <th>@messages("panel.orders.date")</th>
                    <th>@messages("panel.orders.state")</th>
                </tr>
            </thead>
            <tbody>
            @if(orders.isEmpty) {
                <tr>
                    <td colspan="4">@messages("panel.orders.empty_list")</td>
                </tr>
            } else {
                @for(order <- orders.sortBy(-_.timestamp.getMillis)) {
                    <tr>
                        <td>@order.hash</td>
                        <td>
                            <a href="@routes.Account.proforma_invoice(order.hash)" target="_blank">@messages("download")</a>
                        </td>
                        <td>@order.timestamp.toString(DateTimeFormat.forPattern("dd/MM/yyyy HH:mm:ss"))</td>
                        <td>
                            <select class="form-control" order-state hash="@order.hash">
                                <option value="cancelled" @if(order.state == "cancelled") { selected="selected" }>
                                @messages("orders.states.cancelled")
                                </option>
                                <option value="preparing" @if(order.state == "preparing") { selected="selected" }>
                                @messages("orders.states.preparing")
                                </option>
                                <option value="sent" @if(order.state == "sent") { selected="selected" }>
                                @messages("orders.states.sent")
                                </option>
                                <option value="delivered" @if(order.state == "delivered") { selected="selected" }>
                                @messages("orders.states.delivered")
                                </option>
                            </select>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="@controllers.panel.routes.Orders.pager(1, "desc")" aria-label="First"><span aria-hidden="true">&larr;</span></a>
            </li>
            <li @if(pagination.previous.isEmpty) { class="disabled" } >
            @if(pagination.previous.isEmpty) {
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Orders.pager(pagination.previous.get, "desc")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            }
            </li>
            @for(page <- pagination.pages) {
                <li @if(page == pagination.actual_page) { class="active" }>
                    <a href="@controllers.panel.routes.Orders.pager(page, "desc")">@page</a>
                </li>
            }
            <li @if(pagination.next.isEmpty) { class="disabled" }>
            @if(pagination.next.isEmpty) {
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Orders.pager(pagination.next.get, "desc")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            }
            </li>
            <li>
                <a href="@controllers.panel.routes.Orders.pager(pagination.last, "desc")" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
}

@scripts = {
        <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script>
            (function() {
                var app = angular.module("orders", []);

                app.factory("alerts", ["$rootScope", "$timeout", function($rootScope, $timeout) {
                    var instance = {};

                    instance.element = undefined;

                    instance.init = function(element) {
                        element.append("<div class='alerts' style='position: fixed; bottom: 0; right: 30px; width: 480px;'></div>");
                        instance.element = element.find(".alerts");
                    };

                    instance.addAlert = function(text, type, dismisable) {
                        type = typeof type !== "undefined" ? type : "danger";
                        dismisable = typeof dismisable !== "undefined" ? dismisable : true;

                        var alert;
                        if (dismisable) {
                            alert = $("<div class='alert alert-dismissible alert-" + type + "' role='alert'>" +
                                    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + text +
                                    "</div>");
                        } else {
                            alert = $("<div class='alert alert-" + type + "' role='alert'>" + text + "</div>");
                        }

                        alert.css({
                            "position": "relative",
                            "top": "999px"
                        });

                        instance.element.prepend(alert);

                        alert.animate({
                            "top": 0
                        }, 350, function() {
                            $timeout(function() {
                                alert.fadeOut(350, function() {
                                    alert.remove();
                                });
                            }, 6000);
                        });
                    };

                    return instance;
                }]);

                /**
                 * Handles the order state select box.
                 */
                app.directive("orderState", ["$http", function($http) {
                    return {
                        restrict: "A",
                        controller: ["$scope", "alerts", function($scope, alerts) {
                            $scope.update = function(hash, state) {
                                $http.post("/panel/orders/" + hash + "/state/set/" + state).then(
                                        function success(response) {
                                            alerts.addAlert(response.data, "success");
                                        },
                                        function error(response) {
                                            console.log("$http error =>");
                                            console.log(response);
                                        }
                                );
                            };

                            alerts.init($("body"));
                        }],
                        link: function(scope, element, attrs) {
                            if (typeof attrs.hash !== "undefined") {
                                element.bind("change", function(e) {
                                    scope.update(attrs.hash, element.val());
                                });
                            }
                        }
                    };
                }]);
            })();
    </script>
}

@views.html.panel.panel_layout("Panel | Orders",
    body = section,
    scripts = scripts,
    settings = settings,
    section = "orders"
)