@(current: String = "home", toolbar: Html = null)(implicit messages: Messages)

<nav class="navbar navbar-section navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-menu-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Orders</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-menu-collapse-1">
        <ul class="nav navbar-nav">
            <li @if(current == "home") {class="active"}>
                <a href="@controllers.panel.routes.Orders.orders()">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("list")
                </a>
            </li>
        </ul>

        @toolbar
    </div>
</nav>