@import controllers.panel.Settings.PaymentInfoForm
@import settings.GeneralSettings
@(form: Form[PaymentInfoForm])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    <h1 class="page-header">Payment Settings</h1>

@if(flash.get("redirect-message").nonEmpty) {
    <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
    @flash.get("redirect-message").get
    </div>
}

    <div class="row">
        <div class="col-sm-10">
        @b3.vertical.form(controllers.panel.routes.Settings.payment_settings_save(), 'enctype -> "multipart/form-data") { implicit fc =>
            <div class="row">
                <div class="col-sm-12">
                    @b3.text(form("bank-entity"), '_label -> "Bank Entity")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                @b3.text(form("bank-account"), '_label -> "Bank Account")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @b3.textarea(form("info"), '_label -> "Payment Info.", 'rows -> "6")
                    <span class="help-block">What your customers should know about the payment process (This will be visible in the last step of the checkout)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    @b3.submit('class -> "btn btn-primary pull-right") { <span class="glyphicon glyphicon-ok"></span> Save }
                </div>
            </div>
        }
        </div>
    </div>
}

@views.html.panel.panel_layout(
    "Panel | Payment Settings",
    body = section,
    sidebar_menu = Some(views.html.panel.sidebar_settings_menu("payment-settings")),
    settings = settings,
    section = "general-settings"
))