@import controllers.panel.Products.AddProduct
@import dao.{ComplexCategory, VAT}
@import settings.GeneralSettings
@(addform: Form[AddProduct], categories: Seq[ComplexCategory], vats: Seq[VAT])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@import b3.vertical.fieldConstructor

@head = {
    <!-- CodeMirror css -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
        <!-- Summernote css -->
    <link href="@routes.Assets.versioned("summernote-0.8.1/summernote.css")" rel="stylesheet">
}

@toolbar = {
    <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li>
            <button type="submit" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-ok"></span> @messages("add")
            </button>
        </li>
    </ul>
}

@section = {
    @b3.form(controllers.panel.routes.Products.add(), 'enctype -> "multipart/form-data") {
        @views.html.panel.products_toolbar("add", toolbar)

        @if(flash.get("redirect-message").nonEmpty) {
            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
            </div>
        }

        <!-- Form -->
        <div class="col-sm-8">
            @b3.text(addform("name"), '_label -> "Product name")
            @b3.textarea(addform("description"), 'id -> addform("description").name)
            <div class="row">
                <div class="col-sm-6">
                @b3.select(addform("category-id"), options = categories.map(c => (c.id.get.toString, c.name.toString)), '_label -> "Category")
                </div>
                <div class="col-sm-6">
                @b3.select(addform("vat-id"), options = vats.map(v => (v.id.get.toString, v.name)), '_label -> "VAT Type")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                @b3.number(addform("stock"), '_label -> "Stock", 'placeholder -> "0")
                </div>
                <div class="col-sm-6">
                @b3.number(addform("price"), 'min -> "0", 'step -> "0.01", '_label -> "Price", 'placeholder -> "0")
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <input type="file" name="file" id="file" class="flying-file" />
            <div class="default-image-wrapper" id="drop">
                <div class="info-wrapper">
                    <div class="icon">
                        <i class="fa fa-picture-o fa-5x"></i>
                    </div>
                    <div class="info-text" id="status">Click to upload the default image.</div>
                </div>
            </div>
        </div>
    }
}

@scripts = {
    <script src="@routes.Assets.versioned("js/jquery.hotkeys.js")"></script>
        <!-- Include Dropzone.js -->
    <script src="@routes.Assets.versioned("js/dropzone.js")"></script>

        <!-- CodeMirror -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
        <!-- Summernote -->
    <script type="text/javascript" src="@routes.Assets.versioned("summernote-0.8.1/summernote.min.js")"></script>

    <script>
            $(function(){
                $('[data-toggle="tooltip"]').tooltip();
                $("#@{addform("description").name}").summernote({
                    minHeight: 380
                });

                $("#drop").on("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var hiddenFile = $("#file");
                    if (hiddenFile != null || hiddenFile != undefined) {
                        hiddenFile.click();

                        hiddenFile.on("change", function() {
                            var input = this;
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onloadend = function(e, file) {
                                    var bin = this.result;
                                    var img = $("#drop").children("img");
                                    $(".info-wrapper").hide();

                                    if (img == null || img == undefined || img.length == 0) {
                                        var l = document.createElement("img");
                                        $("#drop").append(l);
                                        img = $("#drop").children("img");
                                    }

                                    img.get(0).file = file;
                                    img.get(0).src = bin;
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        });
                    }

                    return false;
                });
            });
    </script>
}

@views.html.panel.panel_layout(messages("panel.titles.products.add"),
    head = head,
    body = section,
    scripts = scripts,
    settings = settings,
    section = "products"
)