@import dao.SupportedLang
@(productRef: String, supportedLangs: Seq[SupportedLang])(implicit messages: Messages, session: Session, flash: Flash)

@import b3.vertical.fieldConstructor

@head = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/dropzone.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/custom-drop.css")" />
}

@section = {
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="@controllers.panel.routes.Products.products()">Products</a></li>
        <li class="active"><a href="#">Add properties</a></li>
    </ol>

    <h1 class="page-header">Add properties</h1>

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

        <!-- Language Nav Tabs -->
    <ul class="nav nav-tabs" id="lang-tabs" role="tablist">
            <!-- Default -->
        <li role="presentation" class="active">
            <a href="#tab-lang-@{supportedLangs.filter(_.is_default).head.short}" aria-controls="tab-lang-@{supportedLangs.filter(_.is_default).head.short}" role="tab" data-toggle="tab">
                <img src="@routes.Assets.versioned("images/flags-iso/24/" + supportedLangs.filter(_.is_default).head.short.toUpperCase + ".png")" onerror="this.src='@routes.Assets.versioned("images/flags-iso/24/_unknown.png")';" width="24" height="24" /> @{supportedLangs.filter(_.is_default).head.name} (Default)
            </a>
        </li>
        <li role="presentation" class="dropdown active">
            <a href="#" id="langs-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-controls="langs-dropdown-contents" aria-expanded="false">Other languages <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="langs-dropdown" id="langs-dropdown-contents">
                @defining(supportedLangs.filterNot(_.is_default)) { langs =>
                  @for(l <- langs) {
                      <li>
                          <a href="#tab-lang-@{l.short}" role="tab" id="tab-lang-dropdown-@{l.short}" data-toggle="tab" aria-controls="tab-lang-@{l.short}">
                              <img src="@routes.Assets.versioned("images/flags-iso/24/" + l.short.toUpperCase + ".png")" onerror="this.src='@routes.Assets.versioned("images/flags-iso/24/_unknown.png")';" width="24" height="24" /> @l.name
                          </a>
                      </li>
                  }
                }
            </ul>
        </li>
    </ul>

@b3.form(controllers.panel.routes.Products.product_add_property(productRef), 'enctype -> "multipart/form-data") {
        <!-- Tab panes -->
    <div class="tab-content">
    @for(l <- supportedLangs) {
        <div role="tabpanel" class="tab-pane @{ if (l.is_default) "fade in active" else "fade"}" id="tab-lang-@{l.short}">
            <div class="row">
                <div class="col-sm-8">
                    @if(l.is_default){
                        <label for="@l.short-name">Property name</label>
                        <div class="input-group">
                            <input type="text" id="@l.short-name" name="@l.short-name" class="form-control" aria-label="property name" placeholder="Colour">
                            <span class="input-group-addon">
                                <label for="with-images">
                                    <input type="checkbox" id="with-images" name="with-images">
                                    <b>with images</b>
                                </label>
                            </span>
                        </div>
                    }else{
                        <div class="form-group">
                            <label for="@l.short-name">Property name</label>
                            <input type="text" id="@l.short-name" name="@l.short-name" class="form-control" aria-label="property name" placeholder="Colour">
                        </div>
                    }
                </div>
                @if(l.is_default){
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="method">Input method</label>
                            <select id="method" name="method" class="form-control">
                                <option value="SELECT">Select</option>
                                <option value="RADIO">Radio</option>
                                <option value="CHECKBOX">Checkbox</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a tabindex="0" class="btn btn-default info-mark margin" role="button" data-toggle="popover" data-container="body" data-trigger="focus" data-placement="left"
                        title="<b>Info.</b>"
                        data-content="<b>Select:</b><br/>Dropdown list.<br/>Only one option allowed.<br/>
                    <b>Radio:</b><br/>Options list.<br/>Only one option allowed.<br/>
                    <b>Checkbox</b><br/>Options list.<br/>Multiple options allowed.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </div>
                }
            </div>
            <hr/>
                <!-- Buttons -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Option add toolbar">
                        <div class="btn-group" role="group" aria-label="Add option">
                            <button type="button" class="btn btn-default" id="add-option">Add option</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
                <!-- Options wrapper -->
            @if(l.is_default){
                <div class="row options-default-@l.short">
                    <div class="col-sm-12"></div>
                </div>
            }else{
                <div class="row options-@l.short">
                    <div class="col-sm-12"></div>
                </div>
            }
        </div>
    }
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12 button-group">
            @b3.submit('class -> "btn btn-default pull-right") {
                <span class="glyphicon glyphicon-ok"></span> Add property
            }
            </div>
        </div>
    </div>
}
    <div class="row" id="template-option-default" style="display: none;">
        <div class="col-sm-1">
        @b3.button('class -> "btn btn-danger btn-block remove-option label-margin"){ <span class="glyphicon glyphicon-remove"></span> }
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Option name</label>
                <input type="text" class="form-control" name="name" placeholder="Green">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label>Order</label>
                <input type="number" class="form-control" name="order" placeholder="0" min="0" value="0">
            </div>
        </div>
        <div class="col-sm-6 option-block-with-image" style="display: none;">
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label>Image link</label>
                        <input type="text" class="form-control" name="image-link">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="dropzone minimal needsclick dz-clickable">
                        <div class="dz-message needsclick">
                            <i class="fa fa-upload fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="template-option" style="display: none;">
        <div class="col-sm-1">
        @b3.button('class -> "btn btn-danger btn-block remove-option label-margin"){ <span class="glyphicon glyphicon-remove"></span> }
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Option name</label>
                <input type="text" class="form-control" name="name" placeholder="Green">
            </div>
        </div>
    </div>
}

@scripts = {
    <script src="@routes.Assets.versioned("js/dropzone.js")"></script>
    <script src="@routes.Assets.versioned("js/util.js")"></script>
    <script>
            // Disable auto discover for all elements:
            Dropzone.autoDiscover = false;

            $(function () {
                $('#lang-tabs a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

                $('[data-toggle="popover"]').popover({
                    html: true
                });

                // Add option
                $(document).on("click", "#add-option", function() {
                    var templateOption = $("#template-option");
                    var defaultTemplateOption = $("#template-option-default");

                    var id = makeid(12);
                    $("div[class*=options-]").each(function() {
                        var splitted = $(this).attr("class").split(" ");
                        var lang = "";
                        var is_default = false;

                        // Getting lang short and default or not
                        for(i = 0; i < splitted.length; i++) {
                            if (splitted[i].indexOf("options-default-") != -1) {
                                is_default = true;
                            }
                            if (splitted[i].indexOf("options-") != -1) {
                                var x = splitted[i].split("-");
                                lang = x[x.length-1];
                            }
                        }

                        var prefix = lang + "-option-";
                        var postfix = "-" + id;
                        if (is_default) {
                            // Giving a uuid to the container
                            var newOption = defaultTemplateOption.clone();
                            newOption.attr("data-option-id", id);

                            // Removing styles and id
                            newOption.removeAttr("id");
                            newOption.removeAttr("style");

                            // Adding option class
                            newOption.addClass("option");

                            // Configuring remove button
                            newOption.find(".remove-option").attr("data-option-id", id);

                            // Adding prefixes
                            var name = newOption.find("input[name=name]");
                            var order = newOption.find("input[name=order]");
                            var imageLink = newOption.children(".option-block-with-image").find("input[name=image-link]");

                            name.attr("name", prefix + name.attr("name") + postfix);
                            order.attr("name", prefix + order.attr("name") + postfix);
                            imageLink.attr("name", prefix + imageLink.attr("name") + postfix);

                            // configuring dropzone
                            var dropzoneId = makeid(32);
                            var dz = newOption.find(".dropzone");
                            dz.attr("id", dropzoneId);

                            dz.dropzone({
                                url: "@routes.Application.image_upload()",
                                uploadMultiple: false,
                                clickable: true,
                                maxFiles: 1,
                                acceptedFiles: "image/*",
                                init: function() {
                                    // On success
                                    this.on("success", function(a, response) {
                                        imageLink.val(response);
                                    });
                                }
                            });

                            // Appending it
                            $(this).children("div").append(newOption);
                        } else {
                            // Giving a uuid to the container
                            var newOption = templateOption.clone();
                            newOption.attr("data-option-id", id);

                            // Removing styles and id
                            newOption.removeAttr("id");
                            newOption.removeAttr("style");

                            // Adding option class
                            newOption.addClass("option");

                            // Configuring remove button
                            newOption.find(".remove-option").attr("data-option-id", id);

                            // Adding prefixes
                            var name = newOption.find("input[name=name]");

                            name.attr("name", prefix + name.attr("name") + postfix);

                            // Appending it
                            $(this).children("div").append(newOption);
                        }
                    });

                    showOrHideImages();
                });

                $(document).on("change", "#with-images", function() {
                    showOrHideImages();
                });

                // Shows or hides the upload images block
                function showOrHideImages() {
                    var b = $("#with-images");

                    if (b.prop("checked")) {
                        $(".option-block-with-image").fadeIn(400);
                    } else {
                        $(".option-block-with-image").fadeOut(400);
                    }
                }

                // Remove option
                $(document).on("click", ".remove-option", function() {
                    if ($(this).attr("data-option-id") != undefined) {
                        var option_id = $(this).attr("data-option-id");
                        $(".option[data-option-id=" + option_id + "]").remove();
                    }
                });
            });
    </script>
}

@views.html.panel.panel_layout("Panel | Products",
    body = section,
    scripts = scripts,
    head = head,
    section = "products"
)