@import dao.ComplexProduct
@import settings.GeneralSettings
@import util.Pagination
@(products: Seq[ComplexProduct], pagination: Pagination)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
@views.html.panel.products_toolbar()

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
        @flash.get("redirect-message").get
        </div>
    }

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@messages("panel.list.ref")</th>
                    <th>@messages("panel.list.name")</th>
                    <th>@messages("panel.products.list.category")</th>
                    <th>@messages("panel.list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @if(products.isEmpty) {
                <tr>
                    <td colspan="5">@messages("panel.products.empty_list")</td>
                </tr>
            } else {
                @for(product <- products) {
                    <tr>
                        <td>
                        @if(product.gallery.exists(_.is_default)){
                            @defining(product.gallery.find(_.is_default).get) { default =>
                                <img src="@routes.Resources.resize(default.fileuuid, 280, 280, "products")" class="thumbnail default" />
                            }
                        }else{
                            <img src="@routes.Assets.versioned("images/no_image_available.png")" class="thumbnail default" />
                        }
                        </td>
                        <td>@product.reference</td>
                        <td>
                            <a href="@controllers.panel.routes.Products.product_view(product.reference)">@product.name</a>
                        </td>
                        <td>@product.category.name.toString</td>
                        <td>
                            <a href="@controllers.panel.routes.Products.delete(product.id.get)" class="do-confirmation">@messages("panel.list.actions.delete")</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="@controllers.panel.routes.Products.pager(1, "desc")" aria-label="First"><span aria-hidden="true">&larr;</span></a>
            </li>
            <li @if(pagination.previous.isEmpty) { class="disabled" } >
            @if(pagination.previous.isEmpty) {
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Products.pager(pagination.previous.get, "desc")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            }
            </li>
            @for(page <- pagination.pages) {
                <li @if(page == pagination.actual_page) { class="active" }>
                    <a href="@controllers.panel.routes.Products.pager(page, "desc")">@page</a>
                </li>
            }
            <li @if(pagination.next.isEmpty) { class="disabled" }>
            @if(pagination.next.isEmpty) {
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Products.pager(pagination.next.get, "desc")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            }
            </li>
            <li>
                <a href="@controllers.panel.routes.Products.pager(pagination.last, "desc")" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="bt-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="bt-confirm-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="bt-confirm-modal-label">@messages("modal.delete_confirmation_title")</h4>
                </div>
                <div class="modal-body">
                @messages("modal.delete_confirmation")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@messages("cancel")</button>
                    <button type="button" class="btn btn-primary" id="bt-confirm-modal-proceed">@messages("delete")</button>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
        <!-- Bootstrap Confirmation Modals -->
    <script type="text/javascript" src="@routes.Assets.versioned("js/util/bootstrap-confirmation.js")"></script>
}

@views.html.panel.panel_layout(messages("panel.titles.products"),
    body = section,
    settings = settings,
    scripts = scripts,
    section = "products"
)