@import settings.GeneralSettings
@import util.CSV.ImportError
@(errors: Map[String, Seq[ImportError]], ref: String, erase_before: Boolean = false)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@toolbar = {
    <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li>
            <a href="@controllers.panel.routes.Products.import_products_step(3, ref)" class="btn btn-danger navbar-btn">
                <span class="glyphicon glyphicon-import"></span> @messages("cancel")
            </a>
        </li>
        <li>
            @if(erase_before) {
                <a href="@controllers.panel.routes.Products.import_products_step(2, ref, true)" class="btn btn-success navbar-btn">
                    <span class="glyphicon glyphicon-import"></span> @messages("panel.import_export.products.import.start")
                </a>
            } else {
                <a href="@controllers.panel.routes.Products.import_products_step(2, ref)" class="btn btn-success navbar-btn">
                    <span class="glyphicon glyphicon-import"></span> @messages("panel.import_export.products.import.start")
                </a>
            }
        </li>
    </ul>
}

@section = {
    @views.html.panel.import_export_products_toolbar("home", toolbar)

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
        @flash.get("redirect-message").get
        </div>
    }

    @if(errors.get("products").get.isEmpty) {
        <div class="alert alert-success" role="alert"> @messages("panel.import_export.products.import.successful_check")</div>
    }

    @if(errors.get("products").get.nonEmpty) {
        @defining(errors.get("products").get) { errors =>
                <!-- Error messages -->
            <div class="alert alert-danger" role="alert">
                @Html(messages("panel.import_export.products.import.errors.products_file_errors"))
                <ul>
                    @for(error <- errors){
                        <li><strong>@messages("panel.import_export.products.import.errors.error_in_line") @error.line_number:</strong> @error.error_message</li>
                    }
                </ul>
            </div>
        }
    }
}

@views.html.panel.panel_layout(
    messages("panel.titles.import_export.products"),
    body = section,
    section = "import-export-products",
    settings = settings
)