@import settings.GeneralSettings
@()(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@import b3.vertical.fieldConstructor

@toolbar = {
    <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li>
            <button type="submit" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-saved"></span> @messages("panel.import_export.products.import.check")
            </button>
        </li>
    </ul>
}

@section = {
    @b3.form(controllers.panel.routes.Products.import_products(), 'enctype -> "multipart/form-data") {
        @views.html.panel.import_export_products_toolbar("home", toolbar)

        @if(flash.get("redirect-message").nonEmpty) {
            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
            </div>
        }

            <!-- Import info -->
        <div class="alert alert-info" role="alert">@Html(messages("panel.import_export.products.alerts.import_info"))</div>

            <!-- Import form -->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="products-file">@messages("panel.import_export.products.products_file")</label>
                    <input type="file" name="products" id="products-file" class="form-control" accept=".csv,.txt">
                </div>
                <div class="form-group">
                    <label for="gallery-file">@messages("panel.import_export.products.gallery_file")</label>
                    <input type="file" name="galleries" id="gallery-file" class="form-control" accept=".zip">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="erase-before">
                        @Html(messages("panel.import_export.products.erase_before"))
                    </label>
                </div>
            </div>
        </div>
    }
}

@views.html.panel.panel_layout(
    messages("panel.titles.import_export.products"),
    body = section,
    section = "import-export-products",
    settings = settings
)