@(productRef: String)(implicit messages: Messages, session: Session, flash: Flash)

@import b3.vertical.fieldConstructor

@head = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/dropzone.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/custom-drop.css")" />
}

@section = {
        <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="@controllers.panel.routes.Products.products()">Products</a></li>
        <li class="active"><a href="#">Upload gallery</a></li>
    </ol>

    <h1 class="page-header">Upload images to the gallery</h1>

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
        @b3.form(controllers.panel.routes.Products.product_gallery_upload(productRef), 'enctype -> "multipart/form-data", 'class -> "dropzone needsclick dz-clickable", 'id -> "gallery-dropzone") {
            <div class="dz-message needsclick">
                Drop files here or click to upload.<br>
            </div>
        }
            <div class="row">
                <div class="col-sm-12 button-group">
                    <a href="@controllers.panel.routes.Products.products()" class="btn btn-primary pull-right">Done</a>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
        <!-- Include Dropzone.js -->
    <script src="@routes.Assets.versioned("js/dropzone.js")"></script>
}

@views.html.panel.panel_layout("Panel | Products",
    head = head,
    body = section,
    scripts = scripts,
    section = "products"
)