@import settings.GeneralSettings
@()(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <h3 class="sub-header">Are you sure you want to restore application defaults?</h3>
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                This will empty the tables and restore the default values. You are going to
                loose everything.
            </div>
            <a href="@routes.PrimaryConfig.restore_defaults()" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Proceed
            </a>
        </div>
    </div>
}

@views.html.panel.panel_layout("Panel | Restore defaults",
    body = section,
    settings = settings,
    section = "restore-defaults"
))