@import controllers.panel.Sections.SectionSortForm
@import dao.Section
@import settings.GeneralSettings
@(addform: Form[SectionSortForm], sections: Seq[Section])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@import b3.vertical.fieldConstructor

@toolbar = {
    <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li>
            <button type="submit" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-floppy-save"></span> @messages("save")
            </button>
        </li>
    </ul>
}

@section = {
    @b3.form(controllers.panel.routes.Sections.sort()) {
        @views.html.panel.sections_toolbar("sort", toolbar)

        @if(flash.get("redirect-message").nonEmpty) {
            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
            </div>
        }

        <div class="alert alert-info" role="alert">@messages("panel.sections.alerts.sort_info")</div>

        <ul class="sortable-list">
        @for(section <- sections.sortBy(_.order)){
            @defining(sections.sortBy(_.order).indexOf(section)) { index =>
                <li @if(section.is_widget) { class="widget" }>
                    <span class="order">@index</span> @section.name
                    @if(section.is_widget) { <small>(widget)</small> }
                    @b3.hidden("id[" + index + "]", section.id.get)
                    @b3.hidden("order[" + index + "]", section.order)
                </li>
            }
        }
        </ul>
    }
}

@scripts = {
        <!-- jQuery UI -->
    <script type="text/javascript" src="@routes.Assets.versioned("jquery-ui-1.11.4/jquery-ui.min.js")"></script>

    <script>
            $(function() {
                $(".sortable-list").sortable({
                    update: function( event, ui ) {
                        var list = $(event.target);

                        list.children("li").each(function(i, el) {
                            $(this).children(".order").text(i);
                            $(this).children("input[name^=order]").val(i);
                        });
                    }
                });
                $(".sortable-list").disableSelection();
            });
    </script>
}

@views.html.panel.panel_layout("Panel | Sort sections",
    body = section,
    scripts = scripts,
    settings = settings,
    section = "shop-sections"
)