@import controllers.panel.Sections.SectionForm
@import settings.GeneralSettings
@(addform: Form[SectionForm])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@import b3.vertical.fieldConstructor

@head = {
        <!-- CodeMirror css -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
        <!-- Summernote css -->
    <link href="@routes.Assets.versioned("summernote-0.8.1/summernote.css")" rel="stylesheet">
}

@toolbar = {
    <ul class="nav navbar-nav navbar-right navbar-buttons">
        <li>
            <button type="submit" class="btn btn-success navbar-btn">
                <span class="glyphicon glyphicon-ok"></span> @messages("add")
            </button>
        </li>
    </ul>
}

@section = {
    @b3.form(controllers.panel.routes.Sections.add(), 'enctype -> "multipart/form-data") {
        @views.html.panel.sections_toolbar("add", toolbar)

        @if(flash.get("redirect-message").nonEmpty) {
            <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
            </div>
        }

        <div class="row">
            <div class="col-sm-10">
                @b3.text(addform("name"), '_label -> "Name")
            </div>
            <div class="col-sm-2">
                @b3.checkbox(addform("in-header"), '_label -> "Header", '_text -> "Show in header?")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @b3.textarea(addform("html"), 'id -> addform("html").name)
            </div>
        </div>
    }
}

@scripts = {
        <!-- CodeMirror -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
        <!-- Summernote -->
    <script type="text/javascript" src="@routes.Assets.versioned("summernote-0.8.1/summernote.min.js")"></script>

    <script>
            $(function(){
                $("#@{addform("html").name}").summernote({
                    minHeight: 380,
                    callbacks: {
                        onInit: function() {
                            var textarea;
                        },
                        onChange: function(contents, $editable) {
                            console.log('onChange:', contents, $editable);
                        }
                    }
                });
            });
    </script>
}

@views.html.panel.panel_layout("Panel | Add section",
    head = head,
    body = section,
    scripts = scripts,
    settings = settings,
    section = "shop-sections"
)