@import dao.Section
@import settings.GeneralSettings
@import util.Pagination
@(sections: Seq[Section] = Seq(), pagination: Pagination)(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    @views.html.panel.sections_toolbar()

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
            @flash.get("redirect-message").get
        </div>
    }

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@messages("panel.list.sort")</th>
                    <th>@messages("panel.list.name")</th>
                    <th>@messages("panel.list.sections.in_header")</th>
                    <th>@messages("panel.list.actions")</th>
                </tr>
            </thead>
            <tbody>
            @if(sections.isEmpty) {
                <tr>
                    <td colspan="3">There are no sections.</td>
                </tr>
            } else {
                @for(i <- sections.sortBy(_.order).filterNot(_.is_widget)) {
                    <tr>
                        <td>@i.order</td>
                        <td>@i.name</td>
                        <td>
                            @if(i.in_header) {
                                <span class="glyphicon glyphicon-check"></span>
                            } else {
                                <span class="glyphicon glyphicon-unchecked"></span>
                            }
                        </td>
                        <td>
                            <a href="@controllers.panel.routes.Sections.edit_form(i.id.get)">@messages("panel.list.actions.edit")</a> /
                            <a href="@controllers.panel.routes.Sections.delete(i.id.get)" class="do-confirmation">@messages("panel.list.actions.delete")</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="@controllers.panel.routes.Sections.pager(1, "asc")" aria-label="First"><span aria-hidden="true">&larr;</span></a>
            </li>
            <li @if(pagination.previous.isEmpty) { class="disabled" } >
            @if(pagination.previous.isEmpty) {
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Sections.pager(pagination.previous.get, "asc")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            }
            </li>
            @for(page <- pagination.pages) {
                <li @if(page == pagination.actual_page) { class="active" }>
                    <a href="@controllers.panel.routes.Sections.pager(page, "asc")">@page</a>
                </li>
            }
            <li @if(pagination.next.isEmpty) { class="disabled" }>
            @if(pagination.next.isEmpty) {
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.Sections.pager(pagination.next.get, "asc")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            }
            </li>
            <li>
                <a href="@controllers.panel.routes.Sections.pager(pagination.last, "asc")" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>

    <div class="modal fade" id="bt-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="bt-confirm-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="bt-confirm-modal-label">@messages("modal.delete_confirmation_title")</h4>
                </div>
                <div class="modal-body">
                @messages("modal.delete_confirmation")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@messages("cancel")</button>
                    <button type="button" class="btn btn-primary" id="bt-confirm-modal-proceed">@messages("delete")</button>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
        <!-- Bootstrap Confirmation Modals -->
    <script type="text/javascript" src="@routes.Assets.versioned("js/util/bootstrap-confirmation.js")"></script>
}

@views.html.panel.panel_layout("Panel | Sections",
    body = section,
    scripts = scripts,
    settings = settings,
    section = "shop-sections"
))