@(current: String = "home", toolbar: Html = null)(implicit messages: Messages)

<nav class="navbar navbar-section navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-menu-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sections</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-menu-collapse-1">
        <ul class="nav navbar-nav">
            <li @if(current == "home") {class="active"}>
                <a href="@controllers.panel.routes.Sections.sections()">
                    <span class="glyphicon glyphicon-th-list"></span> @messages("list")
                </a>
            </li>
            <li @if(current == "add") {class="active"}>
                <a href="@controllers.panel.routes.Sections.add_form()">
                    <span class="glyphicon glyphicon-plus"></span> @messages("add")
                </a>
            </li>
            <li @if(current == "sort") {class="active"}>
                <a href="@controllers.panel.routes.Sections.sort_form()">
                    <span class="glyphicon glyphicon-sort"></span> @messages("panel.sections.toolbar.sort")
                </a>
            </li>
        </ul>

        @toolbar
    </div>
</nav>