@import controllers.panel.Settings.ShipmentInfoForm
@import settings.GeneralSettings
@(form: Form[ShipmentInfoForm])(implicit messages: Messages, session: Session, flash: Flash, settings: GeneralSettings)

@section = {
    <h1 class="page-header">Shipment Settings</h1>

@if(flash.get("redirect-message").nonEmpty) {
    <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
    @flash.get("redirect-message").get
    </div>
}

    <div class="row">
        <div class="col-sm-10">
        @b3.vertical.form(controllers.panel.routes.Settings.shipment_settings_save(), 'enctype -> "multipart/form-data") { implicit fc =>
            <div class="row">
                <div class="col-sm-12">
                    @b3.number(form("shipment-price"), '_label -> "Shipment Price", 'step -> "0.01", 'min -> "0")
                <span class="help-block">This ammount will be added to the final ammount in the checkout</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @b3.textarea(form("shipment-info"), '_label -> "Shipment Info.", 'rows -> "6")
                    <span class="help-block">What your customers should know about the shipment process (This will be visible in the last step of the checkout)</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    @b3.submit('class -> "btn btn-primary pull-right") { <span class="glyphicon glyphicon-ok"></span> Save }
                </div>
            </div>
        }
        </div>
    </div>
}

@views.html.panel.panel_layout(
    "Panel | Shipment Settings",
    body = section,
    sidebar_menu = Some(views.html.panel.sidebar_settings_menu("shipment-settings")),
    settings = settings,
    section = "general-settings"
)