@(section: String = "")(implicit messages: Messages)

<h3 class="sub-header">Settings</h3>

<ul class="nav nav-sidebar">
    <li @if(section == "general-settings") {class="active"}><a href="@controllers.panel.routes.Settings.general_settings()">General</a></li>
    <li @if(section == "payment-settings") {class="active"}><a href="@controllers.panel.routes.Settings.payment_settings()">Payment</a></li>
    <li @if(section == "shipment-settings") {class="active"}><a href="@controllers.panel.routes.Settings.shipment_settings()">Shipment</a></li>
</ul>