@import controllers.panel.VATS.VATForm
@import dao.VAT
@import util.Pagination
@(addform: Form[VATForm], vats: Seq[VAT] = Seq(), pagination: Pagination)(implicit messages: Messages, session: Session, flash: Flash)

@section = {
    <h1 class="page-header">VAT Types</h1>

@if(flash.get("redirect-message").nonEmpty) {
    <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
    @flash.get("redirect-message").get
    </div>
}

    <h2 class="sub-header">Add new VAT Type</h2>
    <div class="row">
    @b3.horizontal.form(controllers.panel.routes.VATS.vats_add(), "col-sm-2", "col-sm-10") { implicit ifc =>
        <div class="col-sm-8">
            @b3.text(addform("name"), '_label -> "Name")
            @b3.number(addform("percent"), '_label -> "Percent", 'value -> "0", 'step -> "0.01")
            @b3.submit('class -> "btn btn-primary") { <span class="glyphicon glyphicon-ok"></span> Add VAT Type }
        </div>
    }
    </div>

    <h2 class="sub-header">VAT Types</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Percentage</th>
                    <th>Acciones</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @if(vats.isEmpty) {
                <tr>
                    <td colspan="4">There are no VAT Types.</td>
                </tr>
            } else {
                @for(i <- vats) {
                    <tr>
                        <td>@i.id</td>
                        <td>@i.name</td>
                        <td>@i.percentage %</td>
                        <td>
                            <a href="@controllers.panel.routes.VATS.vats_delete(i.id.get)">Delete</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="@controllers.panel.routes.VATS.vats_pager(1, "asc")" aria-label="First"><span aria-hidden="true">&larr;</span></a>
            </li>
            <li @if(pagination.previous.isEmpty) { class="disabled" } >
            @if(pagination.previous.isEmpty) {
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.VATS.vats_pager(pagination.previous.get, "asc")" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            }
            </li>
            @for(page <- pagination.pages) {
                <li @if(page == pagination.actual_page) { class="active" }>
                    <a href="@controllers.panel.routes.VATS.vats_pager(page, "asc")">@page</a>
                </li>
            }
            <li @if(pagination.next.isEmpty) { class="disabled" }>
            @if(pagination.next.isEmpty) {
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            } else {
                <a href="@controllers.panel.routes.VATS.vats_pager(pagination.next.get, "asc")" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            }
            </li>
            <li>
                <a href="@controllers.panel.routes.VATS.vats_pager(pagination.last, "asc")" aria-label="Last"><span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
}

@views.html.panel.panel_layout("Panel | VAT Types",
    body = section, section = "vats"))