@import dao.{ComplexCategory, ComplexProduct, VAT}
@(form: Form[ViewProductForm], product: ComplexProduct, categories: Seq[ComplexCategory], vats: Seq[VAT])(implicit messages: Messages, session: Session, flash: Flash)

@import b3.vertical.fieldConstructor

@head = {
    <!-- CodeMirror css -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css">
        <!-- Summernote css -->
    <link href="@routes.Assets.versioned("summernote-0.8.1/summernote.css")" rel="stylesheet">
        <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("datepicker/css/datepicker.css")" />
        <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/dropzone.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/panel/custom-drop.css")" />
}

@section = {
    <h1 class="page-header">Product view: @product.name.toString</h1>

    @if(flash.get("redirect-message").nonEmpty) {
        <div class="alert @{if(flash.get("redirect-type").nonEmpty) flash.get("redirect-type").get else "alert-info"}" role="alert">
        @flash.get("redirect-message").get
        </div>
    }

    @b3.form(controllers.panel.routes.Products.product_view_save(product.reference), 'enctype -> "multipart/form-data") {
    <div class="row">
        <div class="col-sm-8">
            @b3.text(form("name"), '_label -> "Product name")
            @b3.textarea(form("description"), '_label -> "Description", 'id -> form("description").name)
            <div class="row">
                <div class="col-sm-6">
                @b3.select(form("category-id"), options = categories.map(c => (c.id.get.toString, c.name.toString)), '_label -> "Category")
                </div>
                <div class="col-sm-6">
                @b3.select(form("vat-id"), options = vats.map(v => (v.id.get.toString, v.name)), '_label -> "VAT Type")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                @b3.number(form("stock"), '_label -> "Stock", 'placeholder -> "0")
                </div>
                <div class="col-sm-6">
                @b3.number(form("price"), 'min -> "0", 'step -> "0.01", '_label -> "Price", 'placeholder -> "0")
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="default-image-wrapper">
                @if(product.gallery.exists(_.is_default)){
                    @defining(product.gallery.find(_.is_default).get) { default =>
                        <img src="@routes.Resources.resize(default.fileuuid, 340, 540, "products")" id="default-image" />
                    }
                }else{
                    <img src="/assets/images/no_image_available.png" id="default-image" />
                }
            </div>
            <br />
            <div class="form-group">
                <input type="file" class="flying-file" name="default-image" id="default-image-file" />
                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#file-upload-modal" data-file="#default-image-file" data-preview="#default-image">
                    <span class="glyphicon glyphicon-upload"></span> Upload image
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="sub-header">Offer</h3>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Slider image</label>
                    <input type="file" class="flying-file" name="slider-image" id="slider-image-file" />
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#file-upload-modal" data-file="#slider-image-file" data-preview="#slider-image">
                        <span class="glyphicon glyphicon-upload"></span> Upload image
                    </button>
                    <br/>
                @if(product.gallery.exists(_.is_slider)){
                    @defining(product.gallery.find(_.is_slider).get) { picture =>
                        <img src="@routes.Resources.resize(picture.fileuuid, 340, 540, "products")" class="image" id="slider-image" />
                    }
                }else{
                    <img src="@routes.Assets.versioned("images/no_image_available.png")" class="image" id="slider-image" />
                }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                @b3.number(form("offer-discount"), 'step -> "0.01", '_label -> "Discount")
                </div>
                <div class="col-sm-9">
                @b3.checkbox(form("offer-discount-percentage"), '_text -> "Use percentage", '_help -> "If you do not check this, you will discount the full amount, not a percentage.")
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label" for="date">Valid until</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        @b3.text(form("offer-date-until"), 'class -> "datepicker form-control")
                    </div>
                </div>
                <div class="col-sm-9">
                @b3.checkbox(form("offer-use-date"), '_text -> "Use a date to limit this offer?", '_help -> "If you do not check this, this product will be in offer until you uncheck the checkbox below.")
                </div>
            </div>
            @b3.checkbox(form("activate-offer"), '_text -> Html("Offer this product! <small>If you don't check this the offer won't be valid.</small>"))

            <div class="row">
                <div class="col-sm-12">
                @b3.submit('class -> "btn btn-primary pull-right") { <span class="glyphicon glyphicon-ok"></span> Save }
                </div>
            </div>
        </div>
    </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <h3 class="sub-header">Gallery</h3>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Delete images</label>
                    <div class="row">
                    @for(img <- product.gallery.filterNot(f => f.is_default || f.is_slider)) {
                        <div class="col-sm-2 gallery-delete-thumb">
                            <img src="@routes.Resources.resize(img.fileuuid, 120, 120, "products")" class="thumbnail" />
                            <a href="@controllers.panel.routes.Products.gallery_delete_image(product.reference, img.fileuuid)">Delete</a>
                        </div>
                    }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">Upload images</label>
                    <form action="@controllers.panel.routes.Products.product_gallery_upload(product.reference)" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="gallery-dropzone">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload.<br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
        <!-- CodeMirror -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
        <!-- Summernote -->
    <script type="text/javascript" src="@routes.Assets.versioned("summernote-0.8.1/summernote.min.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.hotkeys.js")"></script>
        <!-- Include Dropzone.js -->
    <script src="@routes.Assets.versioned("js/dropzone.js")"></script>
        <!-- Datepicker -->
    <script src="@routes.Assets.versioned("datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.versioned("js/file-upload.js")"></script>

    <script>
            $(function(){
                $("#@{form("description").name}").summernote({
                    height: 310,
                    minHeight: 290,
                    maxHeight: 460
                });

                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
                $(".datepicker").datepicker({
                    format: "dd/mm/yyyy",
                    weekStart: 1,
                    onRender: function(date) {
                        return date.valueOf() < now.valueOf() ? 'disabled' : '';
                    }
                });
            });
    </script>
}

@views.html.panel.panel_layout(
    "Panel | Viewing product",
    head = head,
    body = section,
    scripts = scripts,
    section = "products"
)