@()(implicit messages: Messages)

<div class="modal fade" tabindex="-1" role="dialog" id="file-upload-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-drop" style="min-height: 120px;">
                    <img src="" class="preview" />
                    <div class="info-wrapper">
                        <div class="icon">
                            <i class="fa fa-picture-o fa-3x"></i>
                        </div>
                        <div class="info-text" id="status">Click to upload</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="upload-save-changes">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->